In [1]:
from google.colab import drive
drive.mount('/content/drive')
import os

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import sqlite3

In [3]:
root_dir = os.path.join("drive","MyDrive","courses","cs685","project","rat-sql")

In [4]:
!pip install asdl~=0.1.5 astor~=0.8.1 attrs~=18.2.0 babel~=2.7.0 bpemb~=0.2.11 cython~=0.29.1 jsonnet~=0.14.0 networkx~=2.2 nltk~=3.4 
!pip install numpy~=1.16 pyrsistent~=0.14.9 pytest~=5.3.2 records~=0.5.3 tabulate~=0.8.6 tqdm~=4.48.0
!pip install transformers -U 
!pip install sciket-learn
!pip install ent entmax stanza

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: asdl~=0.1.5 in /usr/local/lib/python3.10/dist-packages (0.1.5)
Requirement already satisfied: astor~=0.8.1 in /usr/local/lib/python3.10/dist-packages (0.8.1)
Requirement already satisfied: attrs~=18.2.0 in /usr/local/lib/python3.10/dist-packages (18.2.0)
Requirement already satisfied: babel~=2.7.0 in /usr/local/lib/python3.10/dist-packages (2.7.0)
Requirement already satisfied: bpemb~=0.2.11 in /usr/local/lib/python3.10/dist-packages (0.2.12)
Requirement already satisfied: cython~=0.29.1 in /usr/local/lib/python3.10/dist-packages (0.29.34)
Requirement already satisfied: jsonnet~=0.14.0 in /usr/local/lib/python3.10/dist-packages (0.14.0)
Requirement already satisfied: networkx~=2.2 in /usr/local/lib/python3.10/dist-packages (2.8.8)
Requirement already satisfied: nltk~=3.4 in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: pytz>=2015.7 in /usr/local/lib/python3.10/dist-packages (from babel~=2.7.0) (2022.7.1)
Requirement already satisfied: gensim in /usr/local/lib/python3.10/dist-packages (from bpemb~=0.2.11) (4.3.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from bpemb~=0.2.11) (1.22.4)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from bpemb~=0.2.11) (2.27.1)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.10/dist-packages (from bpemb~=0.2.11) (0.1.99)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from bpemb~=0.2.11) (4.48.2)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk~=3.4) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk~=3.4) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk~=3.4) (2022.10.31)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from gensim->bpemb~=0.2.11) (1.10.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from gensim->bpemb~=0.2.11) (6.3.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->bpemb~=0.2.11) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->bpemb~=0.2.11) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->bpemb~=0.2.11) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->bpemb~=0.2.11) (3.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy~=1.16 in /usr/local/lib/python3.10/dist-packages (1.22.4)
Requirement already satisfied: pyrsistent~=0.14.9 in /usr/local/lib/python3.10/dist-packages (0.14.11)
Requirement already satisfied: pytest~=5.3.2 in /usr/local/lib/python3.10/dist-packages (5.3.5)
Requirement already satisfied: records~=0.5.3 in /usr/local/lib/python3.10/dist-packages (0.5.3)
Requirement already satisfied: tabulate~=0.8.6 in /usr/local/lib/python3.10/dist-packages (0.8.10)
Requirement already satisfied: tqdm~=4.48.0 in /usr/local/lib/python3.10/dist-packages (4.48.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from pyrsistent~=0.14.9) (1.16.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from pytest~=5.3.2) (1.11.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from pytest~=5.3.2) (23.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.10/dist-packages (from pytest~=5.3.2) (18.2.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from pytest~=5.3.2) (9.1.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from pytest~=5.3.2) (0.13.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from pytest~=5.3.2) (0.2.6)
Requirement already satisfied: openpyxl<2.5.0 in /usr/local/lib/python3.10/dist-packages (from records~=0.5.3) (2.4.11)
Requirement already satisfied: tablib>=0.11.4 in /usr/local/lib/python3.10/dist-packages (from records~=0.5.3) (3.4.0)
Requirement already satisfied: docopt in /usr/local/lib/python3.10/dist-packages (from records~=0.5.3) (0.6.2)
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.10/dist-packages (from records~=0.5.3) (2.0.10)
Requirement already satisfied: jdcal in /usr/local/lib/python3.10/dist-packages (from openpyxl<2.5.0->records~=0.5.3) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl<2.5.0->records~=0.5.3) (1.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy->records~=0.5.3) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy->records~=0.5.3) (2.0.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.29.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.12.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.14.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.27.1)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.13.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.48.2)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (2023.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (4.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement sciket-learn (from versions: none)
ERROR: No matching distribution found for sciket-learn
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ent in /usr/local/lib/python3.10/dist-packages (0.3.3)
Requirement already satisfied: entmax in /usr/local/lib/python3.10/dist-packages (1.1)
Requirement already satisfied: stanza in /usr/local/lib/python3.10/dist-packages (1.5.0)
Requirement already satisfied: future in /usr/local/lib/python3.10/dist-packages (from ent) (0.18.3)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from ent) (6.0)
Requirement already satisfied: torch>=1.0 in /usr/local/lib/python3.10/dist-packages (from entmax) (2.0.0+cu118)
Requirement already satisfied: emoji in /usr/local/lib/python3.10/dist-packages (from stanza) (2.2.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from stanza) (1.22.4)
Requirement already satisfied: protobuf in /usr/local/lib/python3.10/dist-packages (from stanza) (3.20.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from stanza) (2.27.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from stanza) (1.16.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from stanza) (4.48.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch>=1.0->entmax) (3.12.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from torch>=1.0->entmax) (4.5.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.0->entmax) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.0->entmax) (2.8.8)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.0->entmax) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.0->entmax) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.0->entmax) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.0->entmax) (16.0.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->stanza) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->stanza) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->stanza) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->stanza) (3.4)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.0->entmax) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.0->entmax) (1.3.0)

In [5]:
import torch
print(torch.__version__)

2.0.0+cu118

In [6]:
import stanza

In [7]:
from transformers import RobertaModel,RobertaTokenizer 

import nltk

nltk.download('punkt')
nltk.download('stopwords')
model = RobertaModel.from_pretrained('roberta-large')
tokenizer = RobertaTokenizer.from_pretrained('roberta-large')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
Some weights of the model checkpoint at roberta-large were not used when initializing RobertaModel: ['lm_head.decoder.weight', 'lm_head.bias', 'lm_head.dense.weight', 'lm_head.layer_norm.bias', 'lm_head.layer_norm.weight', 'lm_head.dense.bias']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [8]:
os.chdir(root_dir)

In [9]:
import json
import os
import _jsonnet
from ratsql.commands.infer import Inferer
from ratsql.datasets.spider import SpiderItem
from ratsql.utils import registry
import torch

In [10]:
import pandas as pd

In [11]:
exp_config_path = os.path.join(os.getcwd(),"experiments/spider-bert-run.jsonnet")
model_dir = os.path.join(os.getcwd(),"logdir","bert_run","bs=4,lr=1.0e-04,bert_lr=1.0e-05,end_lr=0e0,att=1")
print("model_dir={}".format(model_dir))
print("check if path exists = {}".format(os.path.exists(model_dir)))
checkpoint_step = 35100

model_dir=/content/drive/MyDrive/courses/cs685/project/rat-sql/logdir/bert_run/bs=4,lr=1.0e-04,bert_lr=1.0e-05,end_lr=0e0,att=1
check if path exists = True

In [12]:
root_dir = os.getcwd()
exp_config = json.loads(_jsonnet.evaluate_file(exp_config_path))
model_config_path = os.path.join(root_dir, exp_config["model_config"])
model_config_args = exp_config.get("model_config_args")
infer_config = json.loads(_jsonnet.evaluate_file(model_config_path, tla_codes={'args': json.dumps(model_config_args)}))
print(" ### INFER CONFIG ###")
print(infer_config)

inferer = Inferer(infer_config)
inferer.device = torch.device("cpu")
model = inferer.load_model(model_dir, checkpoint_step)
dataset = registry.construct('dataset', inferer.config['data']['val'])
print(" ######### DATASET #######")
print(dataset)

for id, schema in dataset.schemas.items():
    model.preproc.enc_preproc._preprocess_schema(schema)

 ### INFER CONFIG ###
{'data': {'test': {'db_path': 'data/spider/database', 'name': 'spider', 'paths': ['data/spider/test.json'], 'tables_paths': ['data/spider/tables.json']}, 'train': {'db_path': 'data/spider/database', 'name': 'spider', 'paths': ['data/spider/train_spider.json', 'data/spider/train_others.json'], 'tables_paths': ['data/spider/tables.json']}, 'val': {'db_path': 'data/spider/database', 'name': 'spider', 'paths': ['data/spider/dev.json'], 'tables_paths': ['data/spider/tables.json']}}, 'log': {'reopen_to_flush': True}, 'lr_scheduler': {'decay_steps': 35000, 'end_lr': 0, 'name': 'bert_warmup_polynomial_group', 'num_warmup_steps': 5000, 'power': 0.5, 'start_lr': 0.001, 'start_lrs': [0.0001, 1e-05]}, 'model': {'decoder': {'desc_attn': 'mha', 'dropout': 0.20687225956012834, 'enc_recurrent_size': 1024, 'loss_type': 'softmax', 'name': 'NL2Code', 'recurrent_size': 512, 'use_align_loss': True, 'use_align_mat': True}, 'decoder_preproc': {'grammar': {'clause_order': None, 'end_with_from': True, 'factorize_sketch': 2, 'include_literals': True, 'infer_from_conditions': True, 'name': 'spider', 'output_from': True, 'use_table_pointer': True}, 'save_path': 'data/spider/nl2code,output_from=true,fs=2,emb=bert,cvlink', 'use_seq_elem_rules': True}, 'encoder': {'bert_token_type': True, 'bert_version': 'roberta-large', 'name': 'spider-bert', 'summarize_header': 'avg', 'update_config': {'cv_link': True, 'name': 'relational_transformer', 'num_heads': 8, 'num_layers': 8, 'sc_link': True}, 'use_column_type': False}, 'encoder_preproc': {'bert_version': 'roberta-large', 'compute_cv_link': True, 'compute_sc_link': True, 'db_path': 'data/spider/database', 'fix_issue_16_primary_keys': True, 'include_table_name_in_column': False, 'save_path': 'data/spider/nl2code,output_from=true,fs=2,emb=bert,cvlink'}, 'name': 'EncDec'}, 'model_name': 'bs=4,lr=1.0e-04,bert_lr=1.0e-05,end_lr=0e0,att=1', 'optimizer': {'bert_lr': 0, 'lr': 0, 'name': 'bertAdamw'}, 'train': {'batch_size': 4, 'clip_grad': 1, 'data_seed': 1, 'eval_batch_size': 100, 'eval_every_n': 100, 'init_seed': 1, 'keep_every_n': 1000, 'max_steps': 40000, 'model_seed': 1, 'num_batch_accumulated': 3, 'num_eval_items': 50, 'report_every_n': 100, 'save_every_n': 100}}

WARNING <class 'ratsql.models.enc_dec.EncDecModel.Preproc'>: superfluous {'name': 'EncDec'}
WARNING <class 'ratsql.models.enc_dec.EncDecModel'>: superfluous {'decoder_preproc': {'grammar': {'clause_order': None, 'end_with_from': True, 'factorize_sketch': 2, 'include_literals': True, 'infer_from_conditions': True, 'name': 'spider', 'output_from': True, 'use_table_pointer': True}, 'save_path': 'data/spider/nl2code,output_from=true,fs=2,emb=bert,cvlink', 'use_seq_elem_rules': True}, 'encoder_preproc': {'bert_version': 'roberta-large', 'compute_cv_link': True, 'compute_sc_link': True, 'db_path': 'data/spider/database', 'fix_issue_16_primary_keys': True, 'include_table_name_in_column': False, 'save_path': 'data/spider/nl2code,output_from=true,fs=2,emb=bert,cvlink'}}
Some weights of the model checkpoint at roberta-large were not used when initializing RobertaModel: ['lm_head.decoder.weight', 'lm_head.bias', 'lm_head.dense.weight', 'lm_head.layer_norm.bias', 'lm_head.layer_norm.weight', 'lm_head.dense.bias']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

Loading model from /content/drive/MyDrive/courses/cs685/project/rat-sql/logdir/bert_run/bs=4,lr=1.0e-04,bert_lr=1.0e-05,end_lr=0e0,att=1/model_checkpoint-00035100
{'model': EncDecModel(
  (encoder): SpiderEncoderBert(
    (encs_update): RelationalTransformerUpdate(
      (encoder): Encoder(
        (layers): ModuleList(
          (0-7): 8 x EncoderLayer(
            (self_attn): MultiHeadedAttentionWithRelations(
              (linears): ModuleList(
                (0-3): 4 x Linear(in_features=1024, out_features=1024, bias=True)
              )
              (dropout): Dropout(p=0.1, inplace=False)
            )
            (feed_forward): PositionwiseFeedForward(
              (w_1): Linear(in_features=1024, out_features=4096, bias=True)
              (w_2): Linear(in_features=4096, out_features=1024, bias=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
            (sublayer): ModuleList(
              (0-1): 2 x SublayerConnection(
                (norm): LayerNorm((1024,), eps=1e-05, elementwise_affine=True)
                (dropout): Dropout(p=0.1, inplace=False)
              )
            )
            (relation_k_emb): Embedding(51, 128)
            (relation_v_emb): Embedding(51, 128)
          )
        )
        (norm): LayerNorm((1024,), eps=1e-05, elementwise_affine=True)
      )
      (align_attn): PointerWithRelations(
        (linears): ModuleList(
          (0-2): 3 x Linear(in_features=1024, out_features=1024, bias=True)
        )
        (dropout): Dropout(p=0.1, inplace=False)
        (relation_k_emb): Embedding(51, 1024)
        (relation_v_emb): Embedding(51, 1024)
      )
    )
    (bert_model): RobertaModel(
      (embeddings): RobertaEmbeddings(
        (word_embeddings): Embedding(50265, 1024, padding_idx=1)
        (position_embeddings): Embedding(514, 1024, padding_idx=1)
        (token_type_embeddings): Embedding(1, 1024)
        (LayerNorm): LayerNorm((1024,), eps=1e-05, elementwise_affine=True)
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (encoder): RobertaEncoder(
        (layer): ModuleList(
          (0-23): 24 x RobertaLayer(
            (attention): RobertaAttention(
              (self): RobertaSelfAttention(
                (query): Linear(in_features=1024, out_features=1024, bias=True)
                (key): Linear(in_features=1024, out_features=1024, bias=True)
                (value): Linear(in_features=1024, out_features=1024, bias=True)
                (dropout): Dropout(p=0.1, inplace=False)
              )
              (output): RobertaSelfOutput(
                (dense): Linear(in_features=1024, out_features=1024, bias=True)
                (LayerNorm): LayerNorm((1024,), eps=1e-05, elementwise_affine=True)
                (dropout): Dropout(p=0.1, inplace=False)
              )
            )
            (intermediate): RobertaIntermediate(
              (dense): Linear(in_features=1024, out_features=4096, bias=True)
              (intermediate_act_fn): GELUActivation()
            )
            (output): RobertaOutput(
              (dense): Linear(in_features=4096, out_features=1024, bias=True)
              (LayerNorm): LayerNorm((1024,), eps=1e-05, elementwise_affine=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
          )
        )
      )
      (pooler): RobertaPooler(
        (dense): Linear(in_features=1024, out_features=1024, bias=True)
        (activation): Tanh()
      )
    )
  )
  (decoder): NL2CodeDecoder(
    (state_update): RecurrentDropoutLSTMCell()
    (desc_attn): MultiHeadedAttention(
      (linears): ModuleList(
        (0): Linear(in_features=512, out_features=1024, bias=True)
        (1-3): 3 x Linear(in_features=1024, out_features=1024, bias=True)
      )
      (dropout): Dropout(p=0.1, inplace=False)
    )
    (rule_logits): Sequential(
      (0): Linear(in_features=512, out_features=128, bias=True)
      (1): Tanh()
      (2): Linear(in_features=128, out_features=94, bias=True)
    )
    (rule_embedding): Embedding(94, 128)
    (gen_logodds): Linear(in_features=512, out_features=1, bias=True)
    (terminal_logits): Sequential(
      (0): Linear(in_features=512, out_features=128, bias=True)
      (1): Tanh()
      (2): Linear(in_features=128, out_features=5, bias=True)
    )
    (terminal_embedding): Embedding(5, 128)
    (copy_pointer): BahdanauPointer(
      (compute_scores): Sequential(
        (0): Linear(in_features=1536, out_features=50, bias=True)
        (1): Tanh()
        (2): Linear(in_features=50, out_features=1, bias=True)
      )
    )
    (pointers): ModuleDict(
      (column): ScaledDotProductPointer(
        (query_proj): Linear(in_features=512, out_features=1024, bias=True)
      )
      (table): ScaledDotProductPointer(
        (query_proj): Linear(in_features=512, out_features=1024, bias=True)
      )
    )
    (pointer_action_emb_proj): ModuleDict(
      (column): Linear(in_features=1024, out_features=128, bias=True)
      (table): Linear(in_features=1024, out_features=128, bias=True)
    )
    (node_type_embedding): Embedding(55, 64)
    (xent_loss): CrossEntropyLoss()
  )
)}

DB connections: 100%|██████████| 166/166 [00:04<00:00, 36.54it/s]
INFO:stanza:Checking for updates to resources.json in case models have been updated.  Note: this behavior can be turned off with download_method=None or download_method=DownloadMethod.REUSE_RESOURCES

 ######### DATASET #######
<ratsql.datasets.spider.SpiderDataset object at 0x7f814fd77eb0>

HBox(children=(FloatProgress(value=0.0, description='Downloading https://raw.githubusercontent.com/stanfordnlp…

INFO:stanza:Loading these models for language: en (English):
========================
| Processor | Package  |
------------------------
| tokenize  | combined |
| lemma     | combined |
========================

INFO:stanza:Using device: cpu
INFO:stanza:Loading: tokenize
INFO:stanza:Loading: lemma

INFO:stanza:Done loading processors!

In [13]:
def question(q, db_id):
    spider_schema = dataset.schemas[db_id]
    colMap = {}
    data_item = SpiderItem(
        text=None,  # intentionally None -- should be ignored when the tokenizer is set correctly
        code=None,
        schema=spider_schema,
        orig_schema=spider_schema.orig,
        orig={"question": q}
    )
    model.preproc.clear_items()
    enc_input = model.preproc.enc_preproc.preprocess_item(data_item, None)
    preproc_data = enc_input, None
    with torch.no_grad():
        res, _, _  = inferer._infer_one(model, data_item, preproc_data, beam_size=1, use_heuristic=True)
        return res

In [14]:
def check_datatype(val):
    # if isinstance(val,tuple) or isinstance(val,list):
    #     if len(val)>1:
    #         return val
    #     else:
    #         return val[0]    
    # else:
    #     return val
    return val

def run_query(db_id, query):
    root_path = os.getcwd()
    data_dir = os.path.join(root_path, "data","spider", "database",f"{db_id}")
    db_path = os.path.join(data_dir,f'{db_id}.sqlite')
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # Execute an SQL query
    cursor.execute(query)

    # Fetch the results
    results = cursor.fetchall()
    res = []
    # Process the results
    for row in results:
        res.append(check_datatype(row))
    # Close the database connection
    conn.close()
    return res

In [15]:
df_path = os.path.join(os.getcwd(),"..","final_set_questions_with_results.csv")
final_df = pd.read_csv(df_path)

In [16]:
db_list = list(final_df['database_id'])
utterance_list = list(final_df['utterance'])
query_list = list(final_df['query'])
utterance_idx = list(final_df['utterance_idx'])
interaction_idx = list(final_df['interaction_idx'])
finalqn_results = list(final_df['utterance_result'])

In [17]:
predicted_query = []
predicted_query_res = []
for utterance,query,db_id in zip(utterance_list, query_list, db_list):
  res = question(utterance, db_id)
  pred_query = res[0]['inferred_code']
  pred_query_res = run_query(db_id,pred_query)
  print(pred_query, pred_query_res)
  predicted_query.append(pred_query)
  predicted_query_res.append(pred_query_res)

SELECT airlines.Country FROM airlines WHERE airlines.Airline = 'terminal' []
SELECT airlines.Abbreviation FROM airlines WHERE airlines.Airline = 'terminal' []
SELECT airlines.Airline, airlines.Abbreviation FROM airlines WHERE airlines.Country = 'terminal' []
SELECT airports.AirportCode, airports.AirportName FROM airports WHERE airports.City = 'terminal' []
SELECT Count(*) FROM airlines [(12,)]
SELECT Count(*) FROM airports WHERE airports.AirportName = 'terminal' [(0,)]
SELECT Count(*) FROM flights [(1200,)]
SELECT * FROM airlines WHERE airlines.Abbreviation = 'terminal' []
SELECT Count(*) FROM airlines WHERE airlines.Country = 'terminal' [(0,)]
SELECT airports.City, airports.Country FROM airports WHERE airports.AirportName = 'terminal' []
SELECT airports.AirportName FROM airports WHERE airports.AirportCode = 'terminal' []
SELECT airports.AirportName FROM airports WHERE airports.City = 'terminal' []
SELECT Count(*) FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.AirportName = 'terminal' [(0,)]
SELECT Count(*) FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.AirportName = 'terminal' [(0,)]
SELECT Count(*) FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.AirportName = 'terminal' [(0,)]
SELECT Count(*) FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.City = 'terminal' [(0,)]
SELECT Count(*) FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.City = 'terminal' AND airports.AirportName = 'terminal' [(0,)]
SELECT Count(*) FROM flights WHERE flights.Airline = 'terminal' [(0,)]
SELECT Count(*) FROM airlines JOIN airports WHERE airports.AirportName = 'terminal' AND airlines.Airline = 'terminal' [(0,)]
SELECT Count(*) FROM airlines JOIN airports JOIN flights WHERE airports.AirportName = 'terminal' AND airlines.Airline = 'terminal' [(0,)]
SELECT Count(*) FROM airlines JOIN airports WHERE airports.City = 'terminal' AND airlines.Airline = 'terminal' [(0,)]
SELECT airports.City FROM airports GROUP BY airports.City ORDER BY Count(*) Desc LIMIT 1 [('Albany ',)]
SELECT airports.City FROM airports GROUP BY airports.City ORDER BY Count(*) Desc LIMIT 1 [('Albany ',)]
SELECT airports.AirportCode FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport GROUP BY airports.AirportCode ORDER BY Count(*) Desc LIMIT 1 []
SELECT airports.AirportCode FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport GROUP BY airports.AirportCode ORDER BY Count(*) Asc LIMIT 1 []
SELECT airlines.Airline FROM airlines JOIN flights GROUP BY flights.Airline ORDER BY Count(*) Desc LIMIT 1 [('United Airlines',)]
SELECT airlines.Abbreviation, airlines.Country FROM airlines JOIN flights GROUP BY airlines.Abbreviation ORDER BY Count(*) Asc LIMIT 1 [('AirTran', 'USA')]
SELECT airlines.Airline FROM airlines JOIN airports WHERE airports.AirportName = 'terminal' []
SELECT airlines.Airline FROM airlines JOIN airports WHERE airports.AirportName = 'terminal' []
SELECT airlines.Airline FROM airlines JOIN airports JOIN flights WHERE airports.AirportName = 'terminal' INTERSECT SELECT airlines.Airline FROM airlines JOIN airports JOIN flights WHERE airports.AirportName = 'terminal' []
SELECT airlines.Airline FROM airlines JOIN airports JOIN flights WHERE airports.AirportName = 'terminal' EXCEPT SELECT airlines.Airline FROM airlines JOIN airports JOIN flights WHERE airports.AirportName = 'terminal' []
SELECT airlines.Airline FROM airlines JOIN flights GROUP BY airlines.Airline HAVING Count(*) >= 'terminal' []
SELECT airlines.Airline FROM airlines JOIN flights GROUP BY airlines.Airline HAVING Count(*) < 'terminal' [('AirTran Airways',), ('Allegiant Air',), ('American Airlines',), ('Continental Airlines',), ('Delta Airlines',), ('Frontier Airlines',), ('JetBlue Airways',), ('Northwest Airlines',), ('Southwest Airlines',), ('US Airways',), ('United Airlines',), ('Virgin America',)]
SELECT flights.FlightNo FROM flights WHERE flights.Airline = 'terminal' []
SELECT flights.FlightNo FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.AirportName = 'terminal' []
SELECT flights.FlightNo FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.AirportName = 'terminal' []
SELECT flights.FlightNo FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.AirportName = 'terminal' []
SELECT flights.FlightNo FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.City = 'terminal' []
SELECT Count(*) FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.City = 'terminal' OR airports.City = 'terminal' [(0,)]
SELECT airports.AirportName FROM airports WHERE airports.AirportCode NOT IN (SELECT flights.SourceAirport FROM flights) [('Phillips AAF ',), ('Municipal ',), ('Dyess AFB ',), ('Municipal ',), ('Virginia Highlands ',), ('Ada ',), ('Adak Island Ns ',), ('Lenawee County ',), ('Municipal ',), ('Municipal ',), ('Ainsworth ',), ('Akhiok SPB ',), ('Spb ',), ('Akiak ',), ('Colorado Plains Regional Airport ',), ('Akron/canton Regional ',), ('Fulton International ',), ('Akutan ',), ('Alakanuk ',), ('NAS ',), ('Holloman AFB ',), ('Municipal ',), ('Municipal ',), ('Albany NAS ',), ('Dougherty County ',), ('Albany International ',), ('Albany ',), ('Albert Lea ',), ('Albuquerque International ',), ('Aleknagik ',), ('Aleneva ',), ('Thomas C Russell Fld ',), ('Alexandria International ',), ('Esler Field ',), ('Alexandria ',), ('Alexandria Bay ',), ('Algona ',), ('International ',), ('George Downer ',), ('Alitak SPB ',), ('Allakaket ',), ('Alliance ',), ('Gratiot Community ',), ('Alpena County Regional ',), ('Alpine ',), ('Alton ',), ('Altus AFB ',), ('Municipal ',), ('Alyeska ',), ('Rick Husband Amarillo International ',), ('Tradewind ',), ('Ambler ',), ('Amchitka ',), ('Municipal ',), ('Ames ',), ('Zahns ',), ('Amook ',), ('Anacortes ',), ('USN Heliport ',), ('Orange County Steel Salvage Heliport ',), ('Anaktuvuk ',), ('Elmendorf Afb ',), ('Ted Stevens Anchorage International Airport ',), ('Merrill Field ',), ('Municipal ',), ('Anderson ',), ('Andrews ',), ('Angel Fire ',), ('Tri-State Steuben Cty ',), ('Angoon ',), ('Rollang Field ',), ('Aniak ',), ('Anita Bay ',), ('Municipal ',), ('Lee ',), ('Annette Island ',), ('Anniston Metropolitan ',), ('Ft Mcclellan Bus Trml ',), ('Reilly AHP ',), ('Anthony ',), ('Antlers ',), ('Anvik ',), ('Municipal ',), ('Apple Valley ',), ('Outagamie County ',), ('Municipal ',), ('Arcata ',), ('Arctic Village ',), ('Downtown ',), ('Ardmore Municipal Arpt ',), ('US Army Heliport ',), ('Artesia ',), ('Asbury Park ',), ('Ashland ',), ('Ashley ',), ('Aspen ',), ('Astoria ',), ('Athens ',), ('Ohio University ',), ('McMinn County ',)]
SELECT Count(*) FROM Pets WHERE Pets.weight > 'terminal' [(0,)]
SELECT Pets.weight FROM Pets ORDER BY Pets.pet_age Asc LIMIT 1 [(9.3,)]
SELECT Max(Pets.weight), Max(Pets.PetType) FROM Pets GROUP BY Pets.PetType [(12.0, 'cat'), (13.4, 'dog')]
SELECT Count(*) FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID WHERE Student.Age > 'terminal' [(0,)]
SELECT Count(*) FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID AND Student.StuID = Has_Pet.StuID JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Student.Sex = 'terminal' AND Pets.PetType = 'terminal' [(0,)]
SELECT Count(DISTINCT Pets.PetType) FROM Pets [(2,)]
SELECT DISTINCT Student.Fname FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID AND Student.StuID = Has_Pet.StuID JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Pets.PetType = 'terminal' OR Pets.PetType = 'terminal' []
SELECT Student.Fname FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID AND Student.StuID = Has_Pet.StuID JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Pets.PetType = 'terminal' INTERSECT SELECT Student.Fname FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID AND Student.StuID = Has_Pet.StuID JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Pets.PetType = 'terminal' []
SELECT Student.Major, Student.Age FROM Student WHERE Student.StuID NOT IN (SELECT Has_Pet.StuID FROM Has_Pet JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Pets.PetType = 'terminal') [(600, 18), (600, 19), (600, 21), (600, 20), (600, 26), (600, 18), (600, 18), (600, 20), (600, 19), (600, 17), (600, 22), (600, 20), (600, 18), (600, 16), (600, 17), (600, 27), (600, 20), (600, 18), (520, 22), (520, 19), (540, 17), (520, 20), (540, 18), (520, 18), (520, 19), (520, 18), (550, 20), (100, 17), (550, 21), (550, 20), (550, 20), (550, 18), (50, 18), (50, 26)]
SELECT Student.StuID FROM Student EXCEPT SELECT Has_Pet.StuID FROM Has_Pet JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Pets.PetType = 'terminal' [(1001,), (1002,), (1003,), (1004,), (1005,), (1006,), (1007,), (1008,), (1009,), (1010,), (1011,), (1012,), (1014,), (1015,), (1016,), (1017,), (1018,), (1019,), (1020,), (1021,), (1022,), (1023,), (1024,), (1025,), (1026,), (1027,), (1028,), (1029,), (1030,), (1031,), (1032,), (1033,), (1034,), (1035,)]
SELECT Student.Fname FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID EXCEPT SELECT Student.Fname FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID AND Student.StuID = Has_Pet.StuID JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Pets.PetType = 'terminal' [('Linda',), ('Tracy',)]
SELECT Pets.PetType, Pets.weight FROM Pets ORDER BY Pets.pet_age Asc LIMIT 1 [('dog', 9.3)]
SELECT Pets.PetID, Pets.weight FROM Pets WHERE Pets.pet_age > 'terminal' []
SELECT Pets.PetType, Avg(Pets.pet_age), Max(Pets.pet_age) FROM Pets GROUP BY Pets.PetType [('cat', 3.0, 3), ('dog', 1.5, 2)]
SELECT Pets.PetType, Avg(Pets.weight) FROM Pets GROUP BY Pets.PetType [('cat', 12.0), ('dog', 11.350000000000001)]
SELECT DISTINCT Student.Fname, Student.Age FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID [('Linda', 18), ('Tracy', 19)]
SELECT Has_Pet.PetID FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID WHERE Student.LName = 'terminal' []
SELECT Count(*), Has_Pet.StuID FROM Has_Pet GROUP BY Has_Pet.StuID [(1, 1001), (2, 1002)]
SELECT Student.Fname, Student.Sex FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID GROUP BY Has_Pet.StuID HAVING Count(*) > 'terminal' []
SELECT Student.LName FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID AND Student.StuID = Has_Pet.StuID JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Pets.pet_age = 'terminal' []
SELECT Avg(Student.Age) FROM Student WHERE Student.StuID NOT IN (SELECT Has_Pet.StuID FROM Has_Pet) [(19.625,)]
SELECT country.Name FROM country WHERE country.IndepYear > 'terminal' []
SELECT Count(DISTINCT country.Name) FROM country WHERE country.GovernmentForm = 'terminal' [(0,)]
SELECT country.SurfaceArea FROM country WHERE country.Region = 'terminal' []
SELECT country.Continent FROM country WHERE country.LocalName = 'terminal' []
SELECT country.Region FROM city JOIN country ON city.CountryCode = country.Code WHERE city.Name = 'terminal' []
SELECT countrylanguage.Language FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE country.LocalName = 'terminal' GROUP BY countrylanguage.Language ORDER BY Count(*) Desc LIMIT 1 []
SELECT country.Population, country.LifeExpectancy FROM country WHERE country.Name = 'terminal' []
SELECT country.Region, country.Population FROM country WHERE country.Name = 'terminal' []
SELECT Avg(country.LifeExpectancy) FROM country WHERE country.Region = 'terminal' [(None,)]
SELECT country.Name FROM country WHERE country.Region = 'terminal' AND country.LifeExpectancy = (SELECT Min(country.LifeExpectancy) FROM country WHERE country.Region = 'terminal') []
SELECT country.Population, country.GNP FROM country WHERE country.Continent = 'terminal' ORDER BY country.GNP Desc LIMIT 1 []
SELECT Avg(country.LifeExpectancy) FROM country WHERE country.Region = 'terminal' AND country.Continent = 'terminal' [(None,)]
SELECT Sum(country.SurfaceArea) FROM country WHERE country.Region = 'terminal' OR country.Continent = 'terminal' [(None,)]
SELECT Sum(city.Population) FROM city WHERE city.District = 'terminal' [(None,)]
SELECT Avg(country.GNP), Avg(country.Population) FROM country WHERE country.GovernmentForm = 'terminal' [(None, None)]
SELECT Count(DISTINCT countrylanguage.Language) FROM countrylanguage [(457,)]
SELECT Count(DISTINCT country.GovernmentForm) FROM country WHERE country.Continent = 'terminal' [(0,)]
SELECT Count(DISTINCT countrylanguage.Language) FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE country.LocalName = 'terminal' [(0,)]
SELECT Count(DISTINCT countrylanguage.Language) FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE country.Name = 'terminal' [(0,)]
SELECT country.Name FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode GROUP BY country.Name ORDER BY Count(*) Desc LIMIT 1 [('United States',)]
SELECT country.Continent FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode GROUP BY country.Continent ORDER BY Count(*) Desc LIMIT 1 [('Africa',)]
SELECT Count(*) FROM country WHERE country.Name IN (SELECT countrylanguage.CountryCode FROM countrylanguage WHERE countrylanguage.Language = 'terminal') [(0,)]
SELECT country.Name FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE countrylanguage.Language = 'terminal' INTERSECT SELECT country.Name FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE countrylanguage.Language = 'terminal' []
SELECT country.Name FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE countrylanguage.Language = 'terminal' INTERSECT SELECT country.Name FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE countrylanguage.Language = 'terminal' []
SELECT Count(DISTINCT country.Continent) FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE countrylanguage.Language = 'terminal' [(0,)]
SELECT DISTINCT country.Region FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE countrylanguage.Language = 'terminal' OR countrylanguage.Language = 'terminal' []
SELECT country.Name FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE countrylanguage.Language = 'terminal' OR countrylanguage.IsOfficial = 'terminal' []
SELECT countrylanguage.Language FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE country.Region = 'terminal' GROUP BY countrylanguage.Language ORDER BY Count(*) Desc LIMIT 1 []
SELECT countrylanguage.Language FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE country.GovernmentForm = 'terminal' GROUP BY countrylanguage.Language HAVING Count(*) = 'terminal' []
SELECT city.Name FROM city JOIN country ON city.CountryCode = country.Code JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE countrylanguage.Language = 'terminal' ORDER BY city.Population Desc LIMIT 1 []
SELECT country.Population, country.Population, country.LifeExpectancy FROM country WHERE country.Region = 'terminal' ORDER BY country.SurfaceArea Desc LIMIT 1 []
SELECT Avg(country.LifeExpectancy) FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE countrylanguage.Language != 'terminal' [(64.33629782833506,)]
SELECT country.Population FROM country WHERE country.Name NOT IN (SELECT countrylanguage.CountryCode FROM countrylanguage WHERE countrylanguage.Language = 'terminal') [(103000,), (22720000,), (12878000,), (8000,), (3401200,), (78000,), (217000,), (2441000,), (37032000,), (3520000,), (68000,), (0,), (0,), (68000,), (18886000,), (8091800,), (7734000,), (6695000,), (10239000,), (6097000,), (11937000,), (129155000,), (8190900,), (617000,), (307000,), (3972000,), (10236000,), (241000,), (65000,), (8329000,), (170115000,), (270000,), (328000,), (2124000,), (0,), (1622000,), (3615000,), (31147000,), (600,), (7160400,), (15211000,), (1277558000,), (14786000,), (15085000,), (51654000,), (2943000,), (20000,), (42321000,), (578000,), (428000,), (4023000,), (11201000,), (2500,), (38000,), (754700,), (10278100,), (82164700,), (638000,), (71000,), (5330000,), (8495000,), (31471000,), (12646000,), (68470000,), (3850000,), (293000,), (39441700,), (1439200,), (62565000,), (5171300,), (817000,), (2000,), (59225700,), (43000,), (119000,), (1226000,), (59623400,), (4968000,), (20212000,), (25000,), (7430000,), (456000,), (1305000,), (1213000,), (453000,), (10545700,), (94000,), (56000,), (11385000,), (181000,), (168000,), (861000,), (6782000,), (0,), (6485000,), (4473000,), (8222000,), (10043200,), (212107000,), (1013662000,), (0,), (3775100,), (67702000,), (23115000,), (279000,), (6217000,), (57680000,), (2583000,), (5083000,), (126714000,), (16223000,), (30080000,), (4699000,), (11168000,), (83000,), (38000,), (46844000,), (1972000,), (5433000,), (3282000,), (3154000,), (5605000,), (154000,), (32300,), (18827000,), (2153000,), (3698500,), (435700,), (2424200,), (473000,), (28351000,), (34000,), (4380000,), (15942000,), (286000,), (98881000,), (64000,), (2024000,), (11234000,), (380200,), (45611000,), (2662000,), (78000,), (19680000,), (2670000,), (11000,), (395000,), (1158000,), (10925000,), (22244000,), (149000,), (1726000,), (214000,), (10730000,), (2000,), (111506000,), (5074000,), (2000,), (15864000,), (4478500,), (23930000,), (12000,), (3862000,), (2542000,), (156483000,), (2856000,), (50,), (25662000,), (75967000,), (19000,), (4807000,), (38653600,), (3869000,), (24039000,), (9997600,), (5496000,), (3101000,), (235000,), (599000,), (699000,), (22455500,), (146934000,), (7733000,), (21607000,), (29490000,), (9481000,), (3567000,), (0,), (6000,), (3200,), (444000,), (4854000,), (6276000,), (27000,), (10097000,), (7000,), (147000,), (417000,), (5398700,), (1987800,), (8861400,), (1008000,), (77000,), (16125000,), (17000,), (7651000,), (4629000,), (61399000,), (6188000,), (2000,), (4459000,), (885000,), (99000,), (1295000,), (9586000,), (66591000,), (12000,), (22256000,), (33517000,), (21778000,), (50456000,), (0,), (3337000,), (278357000,), (24318000,), (1000,), (114000,), (24170000,), (21000,), (93000,), (79832000,), (190000,), (15000,), (180000,), (18112000,), (10640000,), (40377000,), (9169000,), (11669000,)]
SELECT countrylanguage.Language FROM country JOIN countrylanguage ON country.Code = countrylanguage.CountryCode WHERE country.HeadOfState = 'terminal' []
SELECT Count(DISTINCT countrylanguage.Language) FROM countrylanguage WHERE countrylanguage.IsOfficial < 'terminal' [(457,)]
SELECT country.Name FROM country WHERE country.SurfaceArea > (SELECT Max(country.SurfaceArea) FROM country WHERE country.Continent = 'terminal') []
SELECT country.Name FROM country WHERE country.Population < (SELECT Max(country.Population) FROM country WHERE country.Region = 'terminal' AND country.Continent = 'terminal') []
SELECT country.Name FROM country WHERE country.Region = 'terminal' AND country.Population > (SELECT Max(country.Population) FROM country WHERE country.Region = 'terminal' AND country.Continent = 'terminal') []

In [20]:
final_ques_df_dict = {'database_id':db_list,
                 'utterance': utterance_list,
                 'query': query_list,
                 'utterance_idx': utterance_idx,
                 'interaction_idx': interaction_idx,
                 'finalqn_results': finalqn_results,
                 'predicted_query': predicted_query,
                 'predicted_query_res': predicted_query_res
                 }

In [21]:
final_ques_df = pd.DataFrame.from_dict(final_ques_df_dict)
op_path = os.path.join(os.getcwd(),"..","final_set_questions_with_results_and_predictions.csv")
final_ques_df.to_csv(op_path)