In [1]:
import numpy as np
import json

In [2]:
# AGG_OPS = ('none', 'max', 'min', 'count', 'sum', 'avg')

# Flag to disable value evaluation
DISABLE_VALUE = True
# Flag to disable distinct in select evaluation
DISABLE_DISTINCT = True


CLAUSE_KEYWORDS = ('select', 'from', 'where', 'group', 'order', 'limit', 'intersect', 'union', 'except')
JOIN_KEYWORDS = ('join', 'on', 'as')

WHERE_OPS = ('not', 'between', '=', '>', '<', '>=', '<=', '!=', 'in', 'like', 'is', 'exists')
UNIT_OPS = ('none', '-', '+', "*", '/')
AGG_OPS = ('none', 'max', 'min', 'count', 'sum', 'avg')
TABLE_TYPE = {
    'sql': "sql",
    'table_unit': "table_unit",
}

COND_OPS = ('and', 'or')
SQL_OPS = ('intersect', 'union', 'except')
ORDER_OPS = ('desc', 'asc')


HARDNESS = {
    "component1": ('where', 'group', 'order', 'limit', 'join', 'or', 'like'),
    "component2": ('except', 'union', 'intersect')
}
def has_agg(unit):
    return unit[0] != AGG_OPS.index('none')

def get_nestedSQL(sql):
    nested = []
    for cond_unit in sql['from']['conds'][::2] + sql['where'][::2] + sql['having'][::2]:
        if type(cond_unit[3]) is dict:
            nested.append(cond_unit[3])
        if type(cond_unit[4]) is dict:
            nested.append(cond_unit[4])
    if sql['intersect'] is not None:
        nested.append(sql['intersect'])
    if sql['except'] is not None:
        nested.append(sql['except'])
    if sql['union'] is not None:
        nested.append(sql['union'])
    return nested

def count_agg(units):
    return len([unit for unit in units if has_agg(unit)])


def count_component1(sql):
    count = 0
    if len(sql['where']) > 0:
        count += 1
    if len(sql['groupBy']) > 0:
        count += 1
    if len(sql['orderBy']) > 0:
        count += 1
    if sql['limit'] is not None:
        count += 1
    if len(sql['from']['table_units']) > 0:  # JOIN
        count += len(sql['from']['table_units']) - 1

    ao = sql['from']['conds'][1::2] + sql['where'][1::2] + sql['having'][1::2]
    count += len([token for token in ao if token == 'or'])
    cond_units = sql['from']['conds'][::2] + sql['where'][::2] + sql['having'][::2]
    count += len([cond_unit for cond_unit in cond_units if cond_unit[1] == WHERE_OPS.index('like')])

    return count


def count_component2(sql):
    nested = get_nestedSQL(sql)
    return len(nested)


def count_others(sql):
    count = 0
    # number of aggregation
    agg_count = count_agg(sql['select'][1])
    agg_count += count_agg(sql['where'][::2])
    agg_count += count_agg(sql['groupBy'])
    if len(sql['orderBy']) > 0:
        agg_count += count_agg([unit[1] for unit in sql['orderBy'][1] if unit[1]] +
                            [unit[2] for unit in sql['orderBy'][1] if unit[2]])
    agg_count += count_agg(sql['having'])
    if agg_count > 1:
        count += 1

    # number of select columns
    if len(sql['select'][1]) > 1:
        count += 1

    # number of where conditions
    if len(sql['where']) > 1:
        count += 1

    # number of group by clauses
    if len(sql['groupBy']) > 1:
        count += 1

    return count
def eval_hardness(sql):
    count_comp1_ = count_component1(sql)
    count_comp2_ = count_component2(sql)
    count_others_ = count_others(sql)

    if count_comp1_ <= 1 and count_others_ == 0 and count_comp2_ == 0:
        return "easy"
    elif (count_others_ <= 2 and count_comp1_ <= 1 and count_comp2_ == 0) or \
            (count_comp1_ <= 2 and count_others_ < 2 and count_comp2_ == 0):
        return "medium"
    elif (count_others_ > 2 and count_comp1_ <= 2 and count_comp2_ == 0) or \
            (2 < count_comp1_ <= 3 and count_others_ <= 2 and count_comp2_ == 0) or \
            (count_comp1_ <= 1 and count_others_ == 0 and count_comp2_ <= 1):
        return "hard"
    else:
        return "extra"

In [3]:
#Zero shot prompts
with open('predict.json', 'r') as f:
    # print()
    data = json.load(f)
print(len(data))

1034

In [ ]:
#Zero shot learning
import openai
import os



import random
import time


# define a retry decorator
def retry_with_exponential_backoff(
    func,
    initial_delay: float = 1,
    exponential_base: float = 2,
    jitter: bool = True,
    max_retries: int = 10,
    errors: tuple = (openai.error.RateLimitError,),
):
    """Retry a function with exponential backoff."""

    def wrapper(*args, **kwargs):
        # Initialize variables
        num_retries = 0
        delay = initial_delay

        # Loop until a successful response or max_retries is hit or an exception is raised
        while True:
            try:
                return func(*args, **kwargs)

            # Retry on specified errors
            except errors as e:
                # Increment retries
                num_retries += 1

                # Check if max retries has been reached
                if num_retries > max_retries:
                    raise Exception(
                        f"Maximum number of retries ({max_retries}) exceeded."
                    )

                # Increment the delay
                delay *= exponential_base * (1 + jitter * random.random())

                # Sleep for the delay
                time.sleep(delay)

            # Raise exceptions for any errors not specified
            except Exception as e:
                raise e

    return wrapper


@retry_with_exponential_backoff
def completions_with_backoff(**kwargs):
    return openai.Completion.create(**kwargs)

response_val_zero_shot = []
for dat in range(len(data)):
# Generate the text
    response = completions_with_backoff(
        engine="text-davinci-003",
        prompt=data[dat]['prompt'],
        max_tokens=250,
        n=1,
        stop=[';','\n'],
        temperature=0,
    )
    response_val_zero_shot.append(response['choices'])

print('Zero shot responses')
print(response_val_zero_shot)

In [2]:
#few shot prompt prep
import json
json_data = []
with open('train_spider.json', 'r') as f:
    infer_results = f.read()
    json_val = json.loads(infer_results)
    json_data.append(json_val)
print(json_data[0][3]['sql'])
for i in range(len(json_data[0])):
    json_data[0][i]['hardness'] = eval_hardness(json_data[0][i]['sql'])


db_distinct = []
for i in range(len(json_data[0])):
    db_distinct.append(json_data[0][i]['db_id'])
    # json_data[0][i]['hardness'] = eval_hardness(json_data[0][3]['sql'])
db_final = list(set(db_distinct))
query_append_easy= []
query_append_med = []
query_append_hard = []
for i in range(len(json_data[0])):
    degree_of_diff = 0
    if json_data[0][i]['hardness'] == 'easy':
        # print('hi')
        query_append_easy.append('--Question: '+json_data[0][i]['question']+'\n Query: '+json_data[0][i]['query'])
        degree_of_diff += 1
    elif json_data[0][i]['hardness'] == 'medium':
        query_append_med.append('--Question: '+json_data[0][i]['question']+'\n Query: '+json_data[0][i]['query'])
        degree_of_diff += 1
    elif json_data[0][i]['hardness'] == 'hard':
        query_append_hard.append('--Question: '+json_data[0][i]['question']+'\n Query: '+json_data[0][i]['query'])
        degree_of_diff += 1
    elif json_data[0][i]['hardness'] == 'extra':
        query_append_hard.append('--Question: '+json_data[0][i]['question']+'\n Query: '+json_data[0][i]['query'])
        degree_of_diff += 1
    # if 
    
# str_hard = 'HARD QUERIES:'+'\n'.join(query_append_hard)
# str_med = 'MEDIUM QUERIES:'+'\n'.join(query_append_med[80:89]+query_append_med[170:])
# # str_med = 'MEDIUM QUERIES:'+'\n'.join(query_append_med[80:89]+query_append_med[160:])
# str_easy = 'EASY QUERIES:'+'\n'.join(query_append_easy[130:140])

{'from': {'table_units': [['table_unit', 0]], 'conds': []}, 'select': [False, [[1, [0, [0, 5, False], None]], [2, [0, [0, 5, False], None]]]], 'where': [], 'groupBy': [], 'having': [], 'orderBy': [], 'limit': None, 'intersect': None, 'union': None, 'except': None}

NameError: name 'eval_hardness' is not defined

In [19]:
str_hard = '###'.join(query_append_hard[0:20])
str_easy = '###'.join(query_append_easy[0:3])
str_med = '###'.join(query_append_med[0:10]+['--Question: What are the official names of cities that have population over 1500 or less than 500?\n Query: SELECT Official_Name FROM city WHERE Population  >  1500 OR Population  <  500',
                                             '--Question: How many faculty lines are there at San Francisco State University in 2004?\n Query: SELECT faculty FROM faculty AS T1 JOIN campuses AS T2 ON T1.campus  =  T2.id WHERE T1.year  =  2004 AND T2.campus  =  "San Francisco State University"',
 '--Question: List the campus that have between 600 and 1000 faculty lines in year 2004.\n Query: SELECT T1.campus FROM campuses AS t1 JOIN faculty AS t2 ON t1.id  =  t2.campus WHERE t2.faculty  >=  600 AND t2.faculty  <=  1000 AND T1.year  =  2004',
 ])

In [20]:
query_append_med

['--Question: List the name, born state and age of the heads of departments ordered by age.\n Query: SELECT name ,  born_state ,  age FROM head ORDER BY age',
 '--Question: List the creation year, name and budget of each department.\n Query: SELECT creation ,  name ,  budget_in_billions FROM department',
 '--Question: What are the maximum and minimum budget of the departments?\n Query: SELECT max(budget_in_billions) ,  min(budget_in_billions) FROM department',
 "--Question: Show the name and number of employees for the departments managed by heads whose temporary acting value is 'Yes'?\n Query: SELECT T1.name ,  T1.num_employees FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id WHERE T2.temporary_acting  =  'Yes'",
 "--Question: What are the distinct ages of the heads who are acting?\n Query: SELECT DISTINCT T1.age FROM management AS T2 JOIN head AS T1 ON T1.head_id  =  T2.head_id WHERE T2.temporary_acting  =  'Yes'",
 '--Question: Which department has more than 1 head at a time? List the id, name and the number of heads.\n Query: SELECT T1.department_id ,  T1.name ,  count(*) FROM management AS T2 JOIN department AS T1 ON T1.department_id  =  T2.department_id GROUP BY T1.department_id HAVING count(*)  >  1',
 "--Question: Which head's name has the substring 'Ha'? List the id and name.\n Query: SELECT head_id ,  name FROM head WHERE name LIKE '%Ha%'",
 '--Question: What are the maximum and minimum number of cows across all farms.\n Query: SELECT max(Cows) ,  min(Cows) FROM farm',
 '--Question: Return the maximum and minimum number of cows across all farms.\n Query: SELECT max(Cows) ,  min(Cows) FROM farm',
 '--Question: List the official name and status of the city with the largest population.\n Query: SELECT Official_Name ,  Status FROM city ORDER BY Population DESC LIMIT 1',
 '--Question: What is the official name and status of the city with the most residents?\n Query: SELECT Official_Name ,  Status FROM city ORDER BY Population DESC LIMIT 1',
 '--Question: Show the years and the official names of the host cities of competitions.\n Query: SELECT T2.Year ,  T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID',
 '--Question: Give the years and official names of the cities of each competition.\n Query: SELECT T2.Year ,  T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID',
 '--Question: Show the official names of the cities that have hosted more than one competition.\n Query: SELECT T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID HAVING COUNT(*)  >  1',
 '--Question: What are the official names of cities that have hosted more than one competition?\n Query: SELECT T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID HAVING COUNT(*)  >  1',
 '--Question: Please show the themes of competitions with host cities having populations larger than 1000.\n Query: SELECT T2.Theme FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID WHERE T1.Population  >  1000',
 '--Question: What are the themes of competitions that have corresponding host cities with more than 1000 residents?\n Query: SELECT T2.Theme FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID WHERE T1.Population  >  1000',
 '--Question: Please show the different statuses of cities and the average population of cities with each status.\n Query: SELECT Status ,  avg(Population) FROM city GROUP BY Status',
 '--Question: What are the statuses and average populations of each city?\n Query: SELECT Status ,  avg(Population) FROM city GROUP BY Status',
 '--Question: Please show the different statuses, ordered by the number of cities that have each.\n Query: SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) ASC',
 '--Question: Return the different statuses of cities, ascending by frequency.\n Query: SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) ASC',
 '--Question: Find the official names of cities with population bigger than 1500 or smaller than 500.\n Query: SELECT Official_Name FROM city WHERE Population  >  1500 OR Population  <  500',
 '--Question: What are the official names of cities that have population over 1500 or less than 500?\n Query: SELECT Official_Name FROM city WHERE Population  >  1500 OR Population  <  500',
 '--Question: what are the first name and last name of all candidates?\n Query: SELECT T2.first_name ,  T2.last_name FROM candidates AS T1 JOIN people AS T2 ON T1.candidate_id = T2.person_id',
 '--Question: What are the first and last names of all the candidates?\n Query: SELECT T2.first_name ,  T2.last_name FROM candidates AS T1 JOIN people AS T2 ON T1.candidate_id = T2.person_id',
 '--Question: What are the ids of all students for courses and what are the names of those courses?\n Query: SELECT T1.student_id ,  T2.course_name FROM student_course_registrations AS T1 JOIN courses AS T2 ON T1.course_id = T2.course_id',
 '--Question: How many students attend course English?\n Query: SELECT count(*) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T1.course_name = "English"',
 '--Question: How many students are attending English courses?\n Query: SELECT count(*) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T1.course_name = "English"',
 '--Question: How many courses do the student whose id is 171 attend?\n Query: SELECT count(*) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T2.student_id = 171',
 '--Question: How many courses does the student with id 171 actually attend?\n Query: SELECT count(*) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T2.student_id = 171',
 '--Question: Find id of the candidate whose email is stanley.monahan@example.org?\n Query: SELECT T2.candidate_id FROM people AS T1 JOIN candidates AS T2 ON T1.person_id = T2.candidate_id WHERE T1.email_address = "stanley.monahan@example.org"',
 '--Question: What is the id of the candidate whose email is stanley.monahan@example.org?\n Query: SELECT T2.candidate_id FROM people AS T1 JOIN candidates AS T2 ON T1.person_id = T2.candidate_id WHERE T1.email_address = "stanley.monahan@example.org"',
 '--Question: Find id of the candidate who most recently accessed the course?\n Query: SELECT candidate_id FROM candidate_assessments ORDER BY assessment_date DESC LIMIT 1',
 '--Question: What is the id of the candidate who most recently accessed the course?\n Query: SELECT candidate_id FROM candidate_assessments ORDER BY assessment_date DESC LIMIT 1',
 '--Question: List the id of students who registered some courses and the number of their registered courses?\n Query: SELECT T1.student_id ,  count(*) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id',
 '--Question: For every student who is registered for some course, how many courses are they registered for?\n Query: SELECT T1.student_id ,  count(*) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id',
 '--Question: Find distinct cities of address of students?\n Query: SELECT DISTINCT T1.city FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.address_id = T2.address_id JOIN students AS T3 ON T2.person_id = T3.student_id',
 '--Question: What are the different cities where students live?\n Query: SELECT DISTINCT T1.city FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.address_id = T2.address_id JOIN students AS T3 ON T2.person_id = T3.student_id',
 '--Question: For each city, return the highest latitude among its stations.\n Query: SELECT city ,  max(lat) FROM station GROUP BY city',
 '--Question: For each city, what is the highest latitude for its stations?\n Query: SELECT city ,  max(lat) FROM station GROUP BY city',
 '--Question: Give me the start station and end station for the trips with the three oldest id.\n Query: SELECT start_station_name ,  end_station_name FROM trip ORDER BY id LIMIT 3',
 '--Question: What is the station station and end station for the trips with the three smallest ids?\n Query: SELECT start_station_name ,  end_station_name FROM trip ORDER BY id LIMIT 3',
 '--Question: What is the average latitude and longitude of stations located in San Jose city?\n Query: SELECT avg(lat) ,  avg(long) FROM station WHERE city  =  "San Jose"',
 '--Question: What is the average latitude and longitude in San Jose?\n Query: SELECT avg(lat) ,  avg(long) FROM station WHERE city  =  "San Jose"',
 '--Question: What is the id of the trip that has the shortest duration?\n Query: SELECT id FROM trip ORDER BY duration LIMIT 1',
 '--Question: What is the id of the shortest trip?\n Query: SELECT id FROM trip ORDER BY duration LIMIT 1',
 '--Question: What is the total and maximum duration of trips with bike id 636?\n Query: SELECT sum(duration) ,  max(duration) FROM trip WHERE bike_id  =  636',
 '--Question: What is the total and maximum duration for all trips with the bike id 636?\n Query: SELECT sum(duration) ,  max(duration) FROM trip WHERE bike_id  =  636',
 '--Question: Return the unique name for stations that have ever had 7 bikes available.\n Query: SELECT DISTINCT T1.name FROM station AS T1 JOIN status AS T2 ON T1.id  =  T2.station_id WHERE T2.bikes_available  =  7',
 '--Question: What are the different names for each station that has ever had 7 bikes available?\n Query: SELECT DISTINCT T1.name FROM station AS T1 JOIN status AS T2 ON T1.id  =  T2.station_id WHERE T2.bikes_available  =  7',
 '--Question: How many days had both mean humidity above 50 and mean visibility above 8?\n Query: SELECT COUNT(*) FROM weather WHERE mean_humidity  >  50 AND mean_visibility_miles  >  8',
 '--Question: What is the number of days that had an average humity above 50 and an average visibility above 8?\n Query: SELECT COUNT(*) FROM weather WHERE mean_humidity  >  50 AND mean_visibility_miles  >  8',
 '--Question: When and in what zip code did max temperature reach 80?\n Query: SELECT date ,  zip_code FROM weather WHERE max_temperature_f  >=  80',
 '--Question: What zip codes have a station with a max temperature greater than or equal to 80 and when did it reach that temperature?\n Query: SELECT date ,  zip_code FROM weather WHERE max_temperature_f  >=  80',
 '--Question: Give me ids for all the trip that took place in a zip code area with average mean temperature above 60.\n Query: SELECT T1.id FROM trip AS T1 JOIN weather AS T2 ON T1.zip_code  =  T2.zip_code GROUP BY T2.zip_code HAVING avg(T2.mean_temperature_f)  >  60',
 '--Question: For each zip code, find the ids of all trips that have a higher average mean temperature above 60?\n Query: SELECT T1.id FROM trip AS T1 JOIN weather AS T2 ON T1.zip_code  =  T2.zip_code GROUP BY T2.zip_code HAVING avg(T2.mean_temperature_f)  >  60',
 '--Question: For each zip code, return how many times max wind speed reached 25?\n Query: SELECT zip_code , count(*) FROM weather WHERE max_wind_Speed_mph  >=  25 GROUP BY zip_code',
 '--Question: For each zip code, how many times has the maximum wind speed reached 25 mph?\n Query: SELECT zip_code , count(*) FROM weather WHERE max_wind_Speed_mph  >=  25 GROUP BY zip_code',
 "--Question: For each trip, return its ending station's installation date.\n Query: SELECT T1.id ,  T2.installation_date FROM trip AS T1 JOIN station AS T2 ON T1.end_station_id  =  T2.id",
 '--Question: What is the installation date for each ending station on all the trips?\n Query: SELECT T1.id ,  T2.installation_date FROM trip AS T1 JOIN station AS T2 ON T1.end_station_id  =  T2.id',
 '--Question: Count the number of trips that did not end in San Francisco city.\n Query: SELECT count(*) FROM trip AS T1 JOIN station AS T2 ON T1.end_station_id  =  T2.id WHERE T2.city !=  "San Francisco"',
 '--Question: How many trips did not end in San Francisco?\n Query: SELECT count(*) FROM trip AS T1 JOIN station AS T2 ON T1.end_station_id  =  T2.id WHERE T2.city != "San Francisco"',
 '--Question: In zip code 94107, on which day neither Fog nor Rain was not observed?\n Query: SELECT date FROM weather WHERE zip_code  =  94107 AND EVENTS != "Fog" AND EVENTS != "Rain"',
 '--Question: On which day has it neither been foggy nor rained in the zip code of 94107?\n Query: SELECT date FROM weather WHERE zip_code  =  94107 AND EVENTS != "Fog" AND EVENTS != "Rain"',
 '--Question: What are the name, latitude, and city of the station with the lowest latitude?\n Query: SELECT name ,  lat ,  city FROM station ORDER BY lat LIMIT 1',
 '--Question: What is the name, latitude, and city of the station that is located the furthest South?\n Query: SELECT name ,  lat ,  city FROM station ORDER BY lat LIMIT 1',
 '--Question: What are the date, mean temperature and mean humidity for the top 3 days with the largest max gust speeds?\n Query: SELECT date ,  mean_temperature_f ,  mean_humidity FROM weather ORDER BY max_gust_speed_mph DESC LIMIT 3',
 '--Question: What is the date, average temperature and mean humidity for the days with the 3 largest maximum gust speeds?\n Query: SELECT date ,  mean_temperature_f ,  mean_humidity FROM weather ORDER BY max_gust_speed_mph DESC LIMIT 3',
 '--Question: List the name and the number of stations for all the cities that have at least 15 stations.\n Query: SELECT city ,  COUNT(*) FROM station GROUP BY city HAVING COUNT(*)  >=  15',
 '--Question: What is the name of every city that has at least 15 stations and how many stations does it have?\n Query: SELECT city ,  COUNT(*) FROM station GROUP BY city HAVING COUNT(*)  >=  15',
 '--Question: Find the ids and names of stations from which at least 200 trips started.\n Query: SELECT start_station_id ,  start_station_name FROM trip GROUP BY start_station_name HAVING COUNT(*)  >=  200',
 '--Question: What are the ids and names of all start stations that were the beginning of at least 200 trips?\n Query: SELECT start_station_id ,  start_station_name FROM trip GROUP BY start_station_name HAVING COUNT(*)  >=  200',
 "--Question: List all the cities in a decreasing order of each city's stations' highest latitude.\n Query: SELECT city FROM station GROUP BY city ORDER BY max(lat) DESC",
 '--Question: For each city, list their names in decreasing order by their highest station latitude.\n Query: SELECT city FROM station GROUP BY city ORDER BY max(lat) DESC',
 '--Question: What are the dates that had the top 5 cloud cover rates? Also tell me the cloud cover rate.\n Query: SELECT date ,  cloud_cover FROM weather ORDER BY cloud_cover DESC LIMIT 5',
 '--Question: What are the dates that have the 5 highest cloud cover rates and what are the rates?\n Query: SELECT date ,  cloud_cover FROM weather ORDER BY cloud_cover DESC LIMIT 5',
 '--Question: What are the ids and durations of the trips with the top 3 durations?\n Query: SELECT id ,  duration FROM trip ORDER BY duration DESC LIMIT 3',
 '--Question: What are the ids of the trips that lasted the longest and how long did they last?\n Query: SELECT id ,  duration FROM trip ORDER BY duration DESC LIMIT 3',
 '--Question: For each station, return its longitude and the average duration of trips that started from the station.\n Query: SELECT T1.name ,  T1.long ,  avg(T2.duration) FROM station AS T1 JOIN trip AS T2 ON T1.id  =  T2.start_station_id GROUP BY T2.start_station_id',
 '--Question: For each start station id, what is its name, longitude and average duration of trips started there?\n Query: SELECT T1.name ,  T1.long ,  avg(T2.duration) FROM station AS T1 JOIN trip AS T2 ON T1.id  =  T2.start_station_id GROUP BY T2.start_station_id',
 '--Question: For each station, find its latitude and the minimum duration of trips that ended at the station.\n Query: SELECT T1.name ,  T1.lat ,  min(T2.duration) FROM station AS T1 JOIN trip AS T2 ON T1.id  =  T2.end_station_id GROUP BY T2.end_station_id',
 '--Question: For each end station id, what is its name, latitude, and minimum duration for trips ended there?\n Query: SELECT T1.name ,  T1.lat ,  min(T2.duration) FROM station AS T1 JOIN trip AS T2 ON T1.id  =  T2.end_station_id GROUP BY T2.end_station_id',
 '--Question: Find the day in which the difference between the max temperature and min temperature was the smallest. Also report the difference.\n Query: SELECT date ,  max_temperature_f - min_temperature_f FROM weather ORDER BY max_temperature_f - min_temperature_f LIMIT 1',
 '--Question: What are the days that had the smallest temperature range, and what was that range?\n Query: SELECT date ,  max_temperature_f - min_temperature_f FROM weather ORDER BY max_temperature_f - min_temperature_f LIMIT 1',
 '--Question: What are the id and name of the stations that have ever had more than 12 bikes available?\n Query: SELECT DISTINCT T1.id ,  T1.name FROM station AS T1 JOIN status AS T2 ON T1.id  =  T2.station_id WHERE T2.bikes_available  >  12',
 '--Question: What are the different ids and names of the stations that have had more than 12 bikes available?\n Query: SELECT DISTINCT T1.id ,  T1.name FROM station AS T1 JOIN status AS T2 ON T1.id  =  T2.station_id WHERE T2.bikes_available  >  12',
 '--Question: What is the average latitude and longitude of the starting points of all trips?\n Query: SELECT avg(T1.lat) ,  avg(T1.long) FROM station AS T1 JOIN trip AS T2 ON T1.id  =  T2.start_station_id',
 '--Question: What is the average latitude and longitude of all starting stations for the trips?\n Query: SELECT avg(T1.lat) ,  avg(T1.long) FROM station AS T1 JOIN trip AS T2 ON T1.id  =  T2.start_station_id',
 '--Question: What are the title and issues of the books?\n Query: SELECT Title ,  Issues FROM book',
 '--Question: List the publisher of the publication with the highest price.\n Query: SELECT Publisher FROM publication ORDER BY Price DESC LIMIT 1',
 '--Question: List the publication dates of publications with 3 lowest prices.\n Query: SELECT Publication_Date FROM publication ORDER BY Price ASC LIMIT 3',
 '--Question: Show the title and publication dates of books.\n Query: SELECT T1.Title ,  T2.Publication_Date FROM book AS T1 JOIN publication AS T2 ON T1.Book_ID  =  T2.Book_ID',
 '--Question: Show writers who have published a book with price more than 4000000.\n Query: SELECT T1.Writer FROM book AS T1 JOIN publication AS T2 ON T1.Book_ID  =  T2.Book_ID WHERE T2.Price  >  4000000',
 '--Question: Show the titles of books in descending order of publication price.\n Query: SELECT T1.Title FROM book AS T1 JOIN publication AS T2 ON T1.Book_ID  =  T2.Book_ID ORDER BY T2.Price DESC',
 '--Question: Show different publishers together with the number of publications they have.\n Query: SELECT Publisher ,  COUNT(*) FROM publication GROUP BY Publisher',
 '--Question: Show the prices of publications whose publisher is either "Person" or "Wiley"\n Query: SELECT Price FROM publication WHERE Publisher  =  "Person" OR Publisher  =  "Wiley"',
 '--Question: What are the characters and duration of actors?\n Query: SELECT Character ,  Duration FROM actor',
 '--Question: Return the characters and durations for each actor.\n Query: SELECT Character ,  Duration FROM actor',
 '--Question: What is the duration of the oldest actor?\n Query: SELECT Duration FROM actor ORDER BY Age DESC LIMIT 1',
 '--Question: Return the duration of the actor with the greatest age.\n Query: SELECT Duration FROM actor ORDER BY Age DESC LIMIT 1',
 '--Question: Show names of actors and names of musicals they are in.\n Query: SELECT T1.Name ,  T2.Name FROM actor AS T1 JOIN musical AS T2 ON T1.Musical_ID  =  T2.Musical_ID',
 '--Question: What are the names of actors and the musicals that they are in?\n Query: SELECT T1.Name ,  T2.Name FROM actor AS T1 JOIN musical AS T2 ON T1.Musical_ID  =  T2.Musical_ID',

In [22]:
import openai
import os


openai.api_key = 'Give your api key here'
import random
import time

import openai

# define a retry decorator
def retry_with_exponential_backoff(
    func,
    initial_delay: float = 1,
    exponential_base: float = 2,
    jitter: bool = True,
    max_retries: int = 10,
    errors: tuple = (openai.error.RateLimitError,),
):
    """Retry a function with exponential backoff."""

    def wrapper(*args, **kwargs):
        # Initialize variables
        num_retries = 0
        delay = initial_delay

        # Loop until a successful response or max_retries is hit or an exception is raised
        while True:
            try:
                return func(*args, **kwargs)

            # Retry on specified errors
            except errors as e:
                # Increment retries
                num_retries += 1

                # Check if max retries has been reached
                if num_retries > max_retries:
                    raise Exception(
                        f"Maximum number of retries ({max_retries}) exceeded."
                    )

                # Increment the delay
                delay *= exponential_base * (1 + jitter * random.random())

                # Sleep for the delay
                time.sleep(delay)

            # Raise exceptions for any errors not specified
            except Exception as e:
                raise e

    return wrapper


@retry_with_exponential_backoff
def completions_with_backoff(**kwargs):
    return openai.Completion.create(**kwargs)

response_val_few_shot_2 = []
for dat in range(len(data)):
# Generate the text
    # if dat:
    prompt_val = """
        Sample questions and queries by degrees of difficulty: \n
        """+str_easy+str_med+str_hard+data[dat]['prompt']
    prompt_val = prompt_val.replace('        ','')
    response = completions_with_backoff(
    engine="text-davinci-003",
    prompt=prompt_val,
    max_tokens=200,
    n=1,
    stop=["--", ";"],
    temperature=0)
    response_val_few_shot_2.append(response['choices'])
    print(dat)
    if dat == 200:
        print(dat,'full done')

In [10]:
import pandas as pd
df_few_shot = pd.DataFrame()
pred_query_few_shot = []
# gold_query = []
for i in range(len(response_val_few_shot_2)):
    pred_query_few_shot.append('SELECT'+response_val_few_shot_2[i][0].text)
df_few_shot['few_shot_pred'] = pred_query_few_shot
df_few_shot.to_csv('updated_few_Shot_v2_nkey.csv',index=False)

In [11]:
json_few_shot_1 = {}
json_few_shot_1['results'] = response_val_few_shot_2
with open('updated_few_shot_v1_nkey.json','w') as f:
    f.write(json.dumps(json_few_shot_1))

In [12]:
import pandas as pd
################################
# Assumptions:
#   1. sql is correct
#   2. only table name has alias
#   3. only one intersect/union/except
#
# val: number(float)/string(str)/sql(dict)
# col_unit: (agg_id, col_id, isDistinct(bool))
# val_unit: (unit_op, col_unit1, col_unit2)
# table_unit: (table_type, col_unit/sql)
# cond_unit: (not_op, op_id, val_unit, val1, val2)
# condition: [cond_unit1, 'and'/'or', cond_unit2, ...]
# sql {
#   'select': (isDistinct(bool), [(agg_id, val_unit), (agg_id, val_unit), ...])
#   'from': {'table_units': [table_unit1, table_unit2, ...], 'conds': condition}
#   'where': condition
#   'groupBy': [col_unit1, col_unit2, ...]
#   'orderBy': ('asc'/'desc', [val_unit1, val_unit2, ...])
#   'having': condition
#   'limit': None/limit value
#   'intersect': None/sql
#   'except': None/sql
#   'union': None/sql
# }
################################

import json
import sqlite3
from nltk import word_tokenize

CLAUSE_KEYWORDS = ('select', 'from', 'where', 'group', 'order', 'limit', 'intersect', 'union', 'except')
JOIN_KEYWORDS = ('join', 'on', 'as')

WHERE_OPS = ('not', 'between', '=', '>', '<', '>=', '<=', '!=', 'in', 'like', 'is', 'exists')
UNIT_OPS = ('none', '-', '+', "*", '/')
AGG_OPS = ('none', 'max', 'min', 'count', 'sum', 'avg')
TABLE_TYPE = {
    'sql': "sql",
    'table_unit': "table_unit",
}

COND_OPS = ('and', 'or')
SQL_OPS = ('intersect', 'union', 'except')
ORDER_OPS = ('desc', 'asc')



class Schema:
    """
    Simple schema which maps table&column to a unique identifier
    """
    def __init__(self, schema):
        self._schema = schema
        self._idMap = self._map(self._schema)

    @property
    def schema(self):
        return self._schema

    @property
    def idMap(self):
        return self._idMap

    def _map(self, schema):
        idMap = {'*': "__all__"}
        id = 1
        for key, vals in schema.items():
            for val in vals:
                idMap[key.lower() + "." + val.lower()] = "__" + key.lower() + "." + val.lower() + "__"
                id += 1

        for key in schema:
            idMap[key.lower()] = "__" + key.lower() + "__"
            id += 1

        return idMap


def get_schema(db):
    """
    Get database's schema, which is a dict with table name as key
    and list of column names as value
    :param db: database path
    :return: schema dict
    """

    schema = {}
    conn = sqlite3.connect(db)
    cursor = conn.cursor()

    # fetch table names
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [str(table[0].lower()) for table in cursor.fetchall()]

    # fetch table info
    for table in tables:
        cursor.execute("PRAGMA table_info({})".format(table))
        schema[table] = [str(col[1].lower()) for col in cursor.fetchall()]

    return schema


def get_schema_from_json(fpath):
    with open(fpath) as f:
        data = json.load(f)

    schema = {}
    for entry in data:
        table = str(entry['table'].lower())
        cols = [str(col['column_name'].lower()) for col in entry['col_data']]
        schema[table] = cols

    return schema


def tokenize(string):
    string = str(string)
    string = string.replace("\'", "\"")  # ensures all string values wrapped by "" problem??
    quote_idxs = [idx for idx, char in enumerate(string) if char == '"']
    assert len(quote_idxs) % 2 == 0, "Unexpected quote"

    # keep string value as token
    vals = {}
    for i in range(len(quote_idxs)-1, -1, -2):
        qidx1 = quote_idxs[i-1]
        qidx2 = quote_idxs[i]
        val = string[qidx1: qidx2+1]
        key = "__val_{}_{}__".format(qidx1, qidx2)
        string = string[:qidx1] + key + string[qidx2+1:]
        vals[key] = val

    toks = [word.lower() for word in word_tokenize(string)]
    # replace with string value token
    for i in range(len(toks)):
        if toks[i] in vals:
            toks[i] = vals[toks[i]]

    # find if there exists !=, >=, <=
    eq_idxs = [idx for idx, tok in enumerate(toks) if tok == "="]
    eq_idxs.reverse()
    prefix = ('!', '>', '<')
    for eq_idx in eq_idxs:
        pre_tok = toks[eq_idx-1]
        if pre_tok in prefix:
            toks = toks[:eq_idx-1] + [pre_tok + "="] + toks[eq_idx+1: ]

    return toks


def scan_alias(toks):
    """Scan the index of 'as' and build the map for all alias"""
    as_idxs = [idx for idx, tok in enumerate(toks) if tok == 'as']
    alias = {}
    for idx in as_idxs:
        alias[toks[idx+1]] = toks[idx-1]
    return alias


def get_tables_with_alias(schema, toks):
    tables = scan_alias(toks)
    for key in schema:
        assert key not in tables, "Alias {} has the same name in table".format(key)
        tables[key] = key
    return tables


def parse_col(toks, start_idx, tables_with_alias, schema, default_tables=None):
    """
        :returns next idx, column id
    """
    tok = toks[start_idx]
    if tok == "*":
        return start_idx + 1, schema.idMap[tok]

    if '.' in tok:  # if token is a composite
        alias, col = tok.split('.')
        key = tables_with_alias[alias] + "." + col
        return start_idx+1, schema.idMap[key]

    assert default_tables is not None and len(default_tables) > 0, "Default tables should not be None or empty"

    for alias in default_tables:
        table = tables_with_alias[alias]
        if tok in schema.schema[table]:
            key = table + "." + tok
            return start_idx+1, schema.idMap[key]

    assert False, "Error col: {}".format(tok)


def parse_col_unit(toks, start_idx, tables_with_alias, schema, default_tables=None):
    """
        :returns next idx, (agg_op id, col_id)
    """
    idx = start_idx
    len_ = len(toks)
    isBlock = False
    isDistinct = False
    if toks[idx] == '(':
        isBlock = True
        idx += 1

    if toks[idx] in AGG_OPS:
        agg_id = AGG_OPS.index(toks[idx])
        idx += 1
        assert idx < len_ and toks[idx] == '('
        idx += 1
        if toks[idx] == "distinct":
            idx += 1
            isDistinct = True
        idx, col_id = parse_col(toks, idx, tables_with_alias, schema, default_tables)
        assert idx < len_ and toks[idx] == ')'
        idx += 1
        return idx, (agg_id, col_id, isDistinct)

    if toks[idx] == "distinct":
        idx += 1
        isDistinct = True
    agg_id = AGG_OPS.index("none")
    idx, col_id = parse_col(toks, idx, tables_with_alias, schema, default_tables)

    if isBlock:
        assert toks[idx] == ')'
        idx += 1  # skip ')'

    return idx, (agg_id, col_id, isDistinct)


def parse_val_unit(toks, start_idx, tables_with_alias, schema, default_tables=None):
    idx = start_idx
    len_ = len(toks)
    isBlock = False
    if toks[idx] == '(':
        isBlock = True
        idx += 1

    col_unit1 = None
    col_unit2 = None
    unit_op = UNIT_OPS.index('none')

    idx, col_unit1 = parse_col_unit(toks, idx, tables_with_alias, schema, default_tables)
    if idx < len_ and toks[idx] in UNIT_OPS:
        unit_op = UNIT_OPS.index(toks[idx])
        idx += 1
        idx, col_unit2 = parse_col_unit(toks, idx, tables_with_alias, schema, default_tables)

    if isBlock:
        assert toks[idx] == ')'
        idx += 1  # skip ')'

    return idx, (unit_op, col_unit1, col_unit2)


def parse_table_unit(toks, start_idx, tables_with_alias, schema):
    """
        :returns next idx, table id, table name
    """
    idx = start_idx
    len_ = len(toks)
    key = tables_with_alias[toks[idx]]

    if idx + 1 < len_ and toks[idx+1] == "as":
        idx += 3
    else:
        idx += 1

    return idx, schema.idMap[key], key


def parse_value(toks, start_idx, tables_with_alias, schema, default_tables=None):
    idx = start_idx
    len_ = len(toks)

    isBlock = False
    if toks[idx] == '(':
        isBlock = True
        idx += 1

    if toks[idx] == 'select':
        idx, val = parse_sql(toks, idx, tables_with_alias, schema)
    elif "\"" in toks[idx]:  # token is a string value
        val = toks[idx]
        idx += 1
    else:
        try:
            val = float(toks[idx])
            idx += 1
        except:
            end_idx = idx
            while end_idx < len_ and toks[end_idx] != ',' and toks[end_idx] != ')'\
                and toks[end_idx] != 'and' and toks[end_idx] not in CLAUSE_KEYWORDS and toks[end_idx] not in JOIN_KEYWORDS:
                    end_idx += 1

            idx, val = parse_col_unit(toks[start_idx: end_idx], 0, tables_with_alias, schema, default_tables)
            idx = end_idx

    if isBlock:
        assert toks[idx] == ')'
        idx += 1

    return idx, val


def parse_condition(toks, start_idx, tables_with_alias, schema, default_tables=None):
    idx = start_idx
    len_ = len(toks)
    conds = []

    while idx < len_:
        idx, val_unit = parse_val_unit(toks, idx, tables_with_alias, schema, default_tables)
        not_op = False
        if toks[idx] == 'not':
            not_op = True
            idx += 1

        assert idx < len_ and toks[idx] in WHERE_OPS, "Error condition: idx: {}, tok: {}".format(idx, toks[idx])
        op_id = WHERE_OPS.index(toks[idx])
        idx += 1
        val1 = val2 = None
        if op_id == WHERE_OPS.index('between'):  # between..and... special case: dual values
            idx, val1 = parse_value(toks, idx, tables_with_alias, schema, default_tables)
            assert toks[idx] == 'and'
            idx += 1
            idx, val2 = parse_value(toks, idx, tables_with_alias, schema, default_tables)
        else:  # normal case: single value
            idx, val1 = parse_value(toks, idx, tables_with_alias, schema, default_tables)
            val2 = None

        conds.append((not_op, op_id, val_unit, val1, val2))

        if idx < len_ and (toks[idx] in CLAUSE_KEYWORDS or toks[idx] in (")", ";") or toks[idx] in JOIN_KEYWORDS):
            break

        if idx < len_ and toks[idx] in COND_OPS:
            conds.append(toks[idx])
            idx += 1  # skip and/or

    return idx, conds


def parse_select(toks, start_idx, tables_with_alias, schema, default_tables=None):
    idx = start_idx
    len_ = len(toks)

    assert toks[idx] == 'select', "'select' not found"
    idx += 1
    isDistinct = False
    if idx < len_ and toks[idx] == 'distinct':
        idx += 1
        isDistinct = True
    val_units = []

    while idx < len_ and toks[idx] not in CLAUSE_KEYWORDS:
        agg_id = AGG_OPS.index("none")
        if toks[idx] in AGG_OPS:
            agg_id = AGG_OPS.index(toks[idx])
            idx += 1
        idx, val_unit = parse_val_unit(toks, idx, tables_with_alias, schema, default_tables)
        val_units.append((agg_id, val_unit))
        if idx < len_ and toks[idx] == ',':
            idx += 1  # skip ','

    return idx, (isDistinct, val_units)


def parse_from(toks, start_idx, tables_with_alias, schema):
    """
    Assume in the from clause, all table units are combined with join
    """
    assert 'from' in toks[start_idx:], "'from' not found"

    len_ = len(toks)
    idx = toks.index('from', start_idx) + 1
    default_tables = []
    table_units = []
    conds = []

    while idx < len_:
        isBlock = False
        if toks[idx] == '(':
            isBlock = True
            idx += 1

        if toks[idx] == 'select':
            idx, sql = parse_sql(toks, idx, tables_with_alias, schema)
            table_units.append((TABLE_TYPE['sql'], sql))
        else:
            if idx < len_ and toks[idx] == 'join':
                idx += 1  # skip join
            idx, table_unit, table_name = parse_table_unit(toks, idx, tables_with_alias, schema)
            table_units.append((TABLE_TYPE['table_unit'],table_unit))
            default_tables.append(table_name)
        if idx < len_ and toks[idx] == "on":
            idx += 1  # skip on
            idx, this_conds = parse_condition(toks, idx, tables_with_alias, schema, default_tables)
            if len(conds) > 0:
                conds.append('and')
            conds.extend(this_conds)

        if isBlock:
            assert toks[idx] == ')'
            idx += 1
        if idx < len_ and (toks[idx] in CLAUSE_KEYWORDS or toks[idx] in (")", ";")):
            break

    return idx, table_units, conds, default_tables


def parse_where(toks, start_idx, tables_with_alias, schema, default_tables):
    idx = start_idx
    len_ = len(toks)

    if idx >= len_ or toks[idx] != 'where':
        return idx, []

    idx += 1
    idx, conds = parse_condition(toks, idx, tables_with_alias, schema, default_tables)
    return idx, conds


def parse_group_by(toks, start_idx, tables_with_alias, schema, default_tables):
    idx = start_idx
    len_ = len(toks)
    col_units = []

    if idx >= len_ or toks[idx] != 'group':
        return idx, col_units

    idx += 1
    assert toks[idx] == 'by'
    idx += 1

    while idx < len_ and not (toks[idx] in CLAUSE_KEYWORDS or toks[idx] in (")", ";")):
        idx, col_unit = parse_col_unit(toks, idx, tables_with_alias, schema, default_tables)
        col_units.append(col_unit)
        if idx < len_ and toks[idx] == ',':
            idx += 1  # skip ','
        else:
            break

    return idx, col_units


def parse_order_by(toks, start_idx, tables_with_alias, schema, default_tables):
    idx = start_idx
    len_ = len(toks)
    val_units = []
    order_type = 'asc' # default type is 'asc'

    if idx >= len_ or toks[idx] != 'order':
        return idx, val_units

    idx += 1
    assert toks[idx] == 'by'
    idx += 1

    while idx < len_ and not (toks[idx] in CLAUSE_KEYWORDS or toks[idx] in (")", ";")):
        idx, val_unit = parse_val_unit(toks, idx, tables_with_alias, schema, default_tables)
        val_units.append(val_unit)
        if idx < len_ and toks[idx] in ORDER_OPS:
            order_type = toks[idx]
            idx += 1
        if idx < len_ and toks[idx] == ',':
            idx += 1  # skip ','
        else:
            break

    return idx, (order_type, val_units)


def parse_having(toks, start_idx, tables_with_alias, schema, default_tables):
    idx = start_idx
    len_ = len(toks)

    if idx >= len_ or toks[idx] != 'having':
        return idx, []

    idx += 1
    idx, conds = parse_condition(toks, idx, tables_with_alias, schema, default_tables)
    return idx, conds


def parse_limit(toks, start_idx):
    idx = start_idx
    len_ = len(toks)

    if idx < len_ and toks[idx] == 'limit':
        idx += 2
        return idx, int(toks[idx-1])

    return idx, None


def parse_sql(toks, start_idx, tables_with_alias, schema):
    isBlock = False # indicate whether this is a block of sql/sub-sql
    len_ = len(toks)
    idx = start_idx

    sql = {}
    if toks[idx] == '(':
        isBlock = True
        idx += 1

    # parse from clause in order to get default tables
    from_end_idx, table_units, conds, default_tables = parse_from(toks, start_idx, tables_with_alias, schema)
    sql['from'] = {'table_units': table_units, 'conds': conds}
    # select clause
    _, select_col_units = parse_select(toks, idx, tables_with_alias, schema, default_tables)
    idx = from_end_idx
    sql['select'] = select_col_units
    # where clause
    idx, where_conds = parse_where(toks, idx, tables_with_alias, schema, default_tables)
    sql['where'] = where_conds
    # group by clause
    idx, group_col_units = parse_group_by(toks, idx, tables_with_alias, schema, default_tables)
    sql['groupBy'] = group_col_units
    # having clause
    idx, having_conds = parse_having(toks, idx, tables_with_alias, schema, default_tables)
    sql['having'] = having_conds
    # order by clause
    idx, order_col_units = parse_order_by(toks, idx, tables_with_alias, schema, default_tables)
    sql['orderBy'] = order_col_units
    # limit clause
    idx, limit_val = parse_limit(toks, idx)
    sql['limit'] = limit_val

    idx = skip_semicolon(toks, idx)
    if isBlock:
        assert toks[idx] == ')'
        idx += 1  # skip ')'
    idx = skip_semicolon(toks, idx)

    # intersect/union/except clause
    for op in SQL_OPS:  # initialize IUE
        sql[op] = None
    if idx < len_ and toks[idx] in SQL_OPS:
        sql_op = toks[idx]
        idx += 1
        idx, IUE_sql = parse_sql(toks, idx, tables_with_alias, schema)
        sql[sql_op] = IUE_sql
    return idx, sql


def load_data(fpath):
    with open(fpath) as f:
        data = json.load(f)
    return data


def get_sql(schema, query):
    toks = tokenize(query)
    tables_with_alias = get_tables_with_alias(schema.schema, toks)
    _, sql = parse_sql(toks, 0, tables_with_alias, schema)

    return sql


def skip_semicolon(toks, start_idx):
    idx = start_idx
    while idx < len(toks) and toks[idx] == ";":
        idx += 1
    return idx


# val: number(float)/string(str)/sql(dict)
# col_unit: (agg_id, col_id, isDistinct(bool))
# val_unit: (unit_op, col_unit1, col_unit2)
# table_unit: (table_type, col_unit/sql)
# cond_unit: (not_op, op_id, val_unit, val1, val2)
# condition: [cond_unit1, 'and'/'or', cond_unit2, ...]
# sql {
#   'select': (isDistinct(bool), [(agg_id, val_unit), (agg_id, val_unit), ...])
#   'from': {'table_units': [table_unit1, table_unit2, ...], 'conds': condition}
#   'where': condition
#   'groupBy': [col_unit1, col_unit2, ...]
#   'orderBy': ('asc'/'desc', [val_unit1, val_unit2, ...])
#   'having': condition
#   'limit': None/limit value
#   'intersect': None/sql
#   'except': None/sql
#   'union': None/sql
# }
################################

import argparse
import json
import os
import sqlite3

# from ratsql.datasets.spider_lib.process_sql import get_schema, Schema, get_sql

# Flag to disable value evaluation
DISABLE_VALUE = True
# Flag to disable distinct in select evaluation
DISABLE_DISTINCT = True

CLAUSE_KEYWORDS = ('select', 'from', 'where', 'group', 'order', 'limit', 'intersect', 'union', 'except')
JOIN_KEYWORDS = ('join', 'on', 'as')

WHERE_OPS = ('not', 'between', '=', '>', '<', '>=', '<=', '!=', 'in', 'like', 'is', 'exists')
UNIT_OPS = ('none', '-', '+', "*", '/')
AGG_OPS = ('none', 'max', 'min', 'count', 'sum', 'avg')
TABLE_TYPE = {
    'sql': "sql",
    'table_unit': "table_unit",
}

COND_OPS = ('and', 'or')
SQL_OPS = ('intersect', 'union', 'except')
ORDER_OPS = ('desc', 'asc')

HARDNESS = {
    "component1": ('where', 'group', 'order', 'limit', 'join', 'or', 'like'),
    "component2": ('except', 'union', 'intersect')
}

LEVELS = ['easy', 'medium', 'hard', 'extra', 'all']
PARTIAL_TYPES = ['select', 'select(no AGG)', 'where', 'where(no OP)', 'group(no Having)',
                 'group', 'order', 'and/or', 'IUEN', 'keywords']


def condition_has_or(conds):
    return 'or' in conds[1::2]


def condition_has_like(conds):
    return WHERE_OPS.index('like') in [cond_unit[1] for cond_unit in conds[::2]]


def condition_has_sql(conds):
    for cond_unit in conds[::2]:
        val1, val2 = cond_unit[3], cond_unit[4]
        if val1 is not None and type(val1) is dict:
            return True
        if val2 is not None and type(val2) is dict:
            return True
    return False


def val_has_op(val_unit):
    return val_unit[0] != UNIT_OPS.index('none')


def has_agg(unit):
    return unit[0] != AGG_OPS.index('none')


def accuracy(count, total):
    if count == total:
        return 1
    return 0


def recall(count, total):
    if count == total:
        return 1
    return 0


def F1(acc, rec):
    if (acc + rec) == 0:
        return 0
    return (2. * acc * rec) / (acc + rec)


def get_scores(count, pred_total, label_total):
    if pred_total != label_total:
        return 0, 0, 0
    elif count == pred_total:
        return 1, 1, 1
    return 0, 0, 0


def eval_sel(pred, label):
    pred_sel = pred['select'][1]
    label_sel = label['select'][1]
    label_wo_agg = [unit[1] for unit in label_sel]
    pred_total = len(pred_sel)
    label_total = len(label_sel)
    cnt = 0
    cnt_wo_agg = 0

    for unit in pred_sel:
        if unit in label_sel:
            cnt += 1
            label_sel.remove(unit)
        if unit[1] in label_wo_agg:
            cnt_wo_agg += 1
            label_wo_agg.remove(unit[1])

    return label_total, pred_total, cnt, cnt_wo_agg


def eval_where(pred, label):
    pred_conds = [unit for unit in pred['where'][::2]]
    label_conds = [unit for unit in label['where'][::2]]
    label_wo_agg = [unit[2] for unit in label_conds]
    pred_total = len(pred_conds)
    label_total = len(label_conds)
    cnt = 0
    cnt_wo_agg = 0

    for unit in pred_conds:
        if unit in label_conds:
            cnt += 1
            label_conds.remove(unit)
        if unit[2] in label_wo_agg:
            cnt_wo_agg += 1
            label_wo_agg.remove(unit[2])

    return label_total, pred_total, cnt, cnt_wo_agg


def eval_group(pred, label):
    pred_cols = [unit[1] for unit in pred['groupBy']]
    label_cols = [unit[1] for unit in label['groupBy']]
    pred_total = len(pred_cols)
    label_total = len(label_cols)
    cnt = 0
    pred_cols = [pred.split(".")[1] if "." in pred else pred for pred in pred_cols]
    label_cols = [label.split(".")[1] if "." in label else label for label in label_cols]
    for col in pred_cols:
        if col in label_cols:
            cnt += 1
            label_cols.remove(col)
    return label_total, pred_total, cnt


def eval_having(pred, label):
    pred_total = label_total = cnt = 0
    if len(pred['groupBy']) > 0:
        pred_total = 1
    if len(label['groupBy']) > 0:
        label_total = 1

    pred_cols = [unit[1] for unit in pred['groupBy']]
    label_cols = [unit[1] for unit in label['groupBy']]
    if pred_total == label_total == 1 \
            and pred_cols == label_cols \
            and pred['having'] == label['having']:
        cnt = 1

    return label_total, pred_total, cnt


def eval_order(pred, label):
    pred_total = label_total = cnt = 0
    if len(pred['orderBy']) > 0:
        pred_total = 1
    if len(label['orderBy']) > 0:
        label_total = 1
    if len(label['orderBy']) > 0 and pred['orderBy'] == label['orderBy'] and \
            ((pred['limit'] is None and label['limit'] is None) or (
                    pred['limit'] is not None and label['limit'] is not None)):
        cnt = 1
    return label_total, pred_total, cnt


def eval_and_or(pred, label):
    pred_ao = pred['where'][1::2]
    label_ao = label['where'][1::2]
    pred_ao = set(pred_ao)
    label_ao = set(label_ao)

    if pred_ao == label_ao:
        return 1, 1, 1
    return len(pred_ao), len(label_ao), 0


def get_nestedSQL(sql):
    nested = []
    for cond_unit in sql['from']['conds'][::2] + sql['where'][::2] + sql['having'][::2]:
        if type(cond_unit[3]) is dict:
            nested.append(cond_unit[3])
        if type(cond_unit[4]) is dict:
            nested.append(cond_unit[4])
    if sql['intersect'] is not None:
        nested.append(sql['intersect'])
    if sql['except'] is not None:
        nested.append(sql['except'])
    if sql['union'] is not None:
        nested.append(sql['union'])
    return nested


def eval_nested(pred, label):
    label_total = 0
    pred_total = 0
    cnt = 0
    if pred is not None:
        pred_total += 1
    if label is not None:
        label_total += 1
    if pred is not None and label is not None:
        partial_scores = Evaluator.eval_partial_match(pred, label)
        cnt += Evaluator.eval_exact_match(pred, label, partial_scores)
    return label_total, pred_total, cnt


def eval_IUEN(pred, label):
    lt1, pt1, cnt1 = eval_nested(pred['intersect'], label['intersect'])
    lt2, pt2, cnt2 = eval_nested(pred['except'], label['except'])
    lt3, pt3, cnt3 = eval_nested(pred['union'], label['union'])
    label_total = lt1 + lt2 + lt3
    pred_total = pt1 + pt2 + pt3
    cnt = cnt1 + cnt2 + cnt3
    return label_total, pred_total, cnt


def get_keywords(sql):
    res = set()
    if len(sql['where']) > 0:
        res.add('where')
    if len(sql['groupBy']) > 0:
        res.add('group')
    if len(sql['having']) > 0:
        res.add('having')
    if len(sql['orderBy']) > 0:
        res.add(sql['orderBy'][0])
        res.add('order')
    if sql['limit'] is not None:
        res.add('limit')
    if sql['except'] is not None:
        res.add('except')
    if sql['union'] is not None:
        res.add('union')
    if sql['intersect'] is not None:
        res.add('intersect')

    # or keyword
    ao = sql['from']['conds'][1::2] + sql['where'][1::2] + sql['having'][1::2]
    if len([token for token in ao if token == 'or']) > 0:
        res.add('or')

    cond_units = sql['from']['conds'][::2] + sql['where'][::2] + sql['having'][::2]
    # not keyword
    if len([cond_unit for cond_unit in cond_units if cond_unit[0]]) > 0:
        res.add('not')

    # in keyword
    if len([cond_unit for cond_unit in cond_units if cond_unit[1] == WHERE_OPS.index('in')]) > 0:
        res.add('in')

    # like keyword
    if len([cond_unit for cond_unit in cond_units if cond_unit[1] == WHERE_OPS.index('like')]) > 0:
        res.add('like')

    return res


def eval_keywords(pred, label):
    pred_keywords = get_keywords(pred)
    label_keywords = get_keywords(label)
    pred_total = len(pred_keywords)
    label_total = len(label_keywords)
    cnt = 0

    for k in pred_keywords:
        if k in label_keywords:
            cnt += 1
    return label_total, pred_total, cnt


def count_agg(units):
    return len([unit for unit in units if has_agg(unit)])


def count_component1(sql):
    count = 0
    if len(sql['where']) > 0:
        count += 1
    if len(sql['groupBy']) > 0:
        count += 1
    if len(sql['orderBy']) > 0:
        count += 1
    if sql['limit'] is not None:
        count += 1
    if len(sql['from']['table_units']) > 0:  # JOIN
        count += len(sql['from']['table_units']) - 1

    ao = sql['from']['conds'][1::2] + sql['where'][1::2] + sql['having'][1::2]
    count += len([token for token in ao if token == 'or'])
    cond_units = sql['from']['conds'][::2] + sql['where'][::2] + sql['having'][::2]
    count += len([cond_unit for cond_unit in cond_units if cond_unit[1] == WHERE_OPS.index('like')])

    return count


def count_component2(sql):
    nested = get_nestedSQL(sql)
    return len(nested)


def count_others(sql):
    count = 0
    # number of aggregation
    agg_count = count_agg(sql['select'][1])
    agg_count += count_agg(sql['where'][::2])
    agg_count += count_agg(sql['groupBy'])
    if len(sql['orderBy']) > 0:
        agg_count += count_agg([unit[1] for unit in sql['orderBy'][1] if unit[1]] +
                               [unit[2] for unit in sql['orderBy'][1] if unit[2]])
    agg_count += count_agg(sql['having'])
    if agg_count > 1:
        count += 1

    # number of select columns
    if len(sql['select'][1]) > 1:
        count += 1

    # number of where conditions
    if len(sql['where']) > 1:
        count += 1

    # number of group by clauses
    if len(sql['groupBy']) > 1:
        count += 1

    return count


class Evaluator:
    """A simple evaluator"""

    def __init__(self, db_dir, kmaps, etype):
        self.db_dir = db_dir
        self.kmaps = kmaps
        self.etype = etype

        self.db_paths = {}
        self.schemas = {}
        for db_name in self.kmaps.keys():
            db_path = os.path.join(db_dir, db_name, db_name + '.sqlite')
            self.db_paths[db_name] = db_path
            self.schemas[db_name] = Schema(get_schema(db_path))

        self.scores = {
            level: {
                'count': 0,
                'partial': {
                    type_: {'acc': 0., 'rec': 0., 'f1': 0., 'acc_count': 0, 'rec_count': 0}
                    for type_ in PARTIAL_TYPES
                },
                'exact': 0.,
                'exec': 0,
            }
            for level in LEVELS
        }

    def eval_hardness(self, sql):
        count_comp1_ = count_component1(sql)
        count_comp2_ = count_component2(sql)
        count_others_ = count_others(sql)

        if count_comp1_ <= 1 and count_others_ == 0 and count_comp2_ == 0:
            return "easy"
        elif (count_others_ <= 2 and count_comp1_ <= 1 and count_comp2_ == 0) or \
                (count_comp1_ <= 2 and count_others_ < 2 and count_comp2_ == 0):
            return "medium"
        elif (count_others_ > 2 and count_comp1_ <= 2 and count_comp2_ == 0) or \
                (2 < count_comp1_ <= 3 and count_others_ <= 2 and count_comp2_ == 0) or \
                (count_comp1_ <= 1 and count_others_ == 0 and count_comp2_ <= 1):
            return "hard"
        else:
            return "extra"

    @classmethod
    def eval_exact_match(cls, pred, label, partial_scores):
        for _, score in list(partial_scores.items()):
            if score['f1'] != 1:
                return 0
        if len(label['from']['table_units']) > 0:
            label_tables = sorted(label['from']['table_units'])
            pred_tables = sorted(pred['from']['table_units'])
            return label_tables == pred_tables
        return 1

    @classmethod
    def eval_partial_match(cls, pred, label):
        res = {}

        label_total, pred_total, cnt, cnt_wo_agg = eval_sel(pred, label)
        acc, rec, f1 = get_scores(cnt, pred_total, label_total)
        res['select'] = {'acc': acc, 'rec': rec, 'f1': f1, 'label_total': label_total, 'pred_total': pred_total}
        acc, rec, f1 = get_scores(cnt_wo_agg, pred_total, label_total)
        res['select(no AGG)'] = {'acc': acc, 'rec': rec, 'f1': f1, 'label_total': label_total, 'pred_total': pred_total}

        label_total, pred_total, cnt, cnt_wo_agg = eval_where(pred, label)
        acc, rec, f1 = get_scores(cnt, pred_total, label_total)
        res['where'] = {'acc': acc, 'rec': rec, 'f1': f1, 'label_total': label_total, 'pred_total': pred_total}
        acc, rec, f1 = get_scores(cnt_wo_agg, pred_total, label_total)
        res['where(no OP)'] = {'acc': acc, 'rec': rec, 'f1': f1, 'label_total': label_total, 'pred_total': pred_total}

        label_total, pred_total, cnt = eval_group(pred, label)
        acc, rec, f1 = get_scores(cnt, pred_total, label_total)
        res['group(no Having)'] = {'acc': acc, 'rec': rec, 'f1': f1, 'label_total': label_total,
                                   'pred_total': pred_total}

        label_total, pred_total, cnt = eval_having(pred, label)
        acc, rec, f1 = get_scores(cnt, pred_total, label_total)
        res['group'] = {'acc': acc, 'rec': rec, 'f1': f1, 'label_total': label_total, 'pred_total': pred_total}

        label_total, pred_total, cnt = eval_order(pred, label)
        acc, rec, f1 = get_scores(cnt, pred_total, label_total)
        res['order'] = {'acc': acc, 'rec': rec, 'f1': f1, 'label_total': label_total, 'pred_total': pred_total}

        label_total, pred_total, cnt = eval_and_or(pred, label)
        acc, rec, f1 = get_scores(cnt, pred_total, label_total)
        res['and/or'] = {'acc': acc, 'rec': rec, 'f1': f1, 'label_total': label_total, 'pred_total': pred_total}

        label_total, pred_total, cnt = eval_IUEN(pred, label)
        acc, rec, f1 = get_scores(cnt, pred_total, label_total)
        res['IUEN'] = {'acc': acc, 'rec': rec, 'f1': f1, 'label_total': label_total, 'pred_total': pred_total}

        label_total, pred_total, cnt = eval_keywords(pred, label)
        acc, rec, f1 = get_scores(cnt, pred_total, label_total)
        res['keywords'] = {'acc': acc, 'rec': rec, 'f1': f1, 'label_total': label_total, 'pred_total': pred_total}

        return res

    def evaluate_one(self, db_name, gold, predicted):
        schema = self.schemas[db_name]
        g_sql = get_sql(schema, gold)
        hardness = self.eval_hardness(g_sql)
        self.scores[hardness]['count'] += 1
        self.scores['all']['count'] += 1

        parse_error = False
        try:
            p_sql = get_sql(schema, predicted)
        except:
            # If p_sql is not valid, then we will use an empty sql to evaluate with the correct sql
            p_sql = {
                "except": None,
                "from": {
                    "conds": [],
                    "table_units": []
                },
                "groupBy": [],
                "having": [],
                "intersect": None,
                "limit": None,
                "orderBy": [],
                "select": [
                    False,
                    []
                ],
                "union": None,
                "where": []
            }

            # TODO fix
            parse_error = True

        # rebuild sql for value evaluation
        kmap = self.kmaps[db_name]
        g_valid_col_units = build_valid_col_units(g_sql['from']['table_units'], schema)
        g_sql = rebuild_sql_val(g_sql)
        g_sql = rebuild_sql_col(g_valid_col_units, g_sql, kmap)
        p_valid_col_units = build_valid_col_units(p_sql['from']['table_units'], schema)
        p_sql = rebuild_sql_val(p_sql)
        p_sql = rebuild_sql_col(p_valid_col_units, p_sql, kmap)

        if self.etype in ["all", "exec"]:
            exec_score = eval_exec_match(self.db_paths[db_name], predicted, gold, p_sql, g_sql)
            self.scores[hardness]['exec'] += exec_score
            self.scores['all']['exec'] += exec_score

        if self.etype in ["all", "match"]:
            partial_scores = self.eval_partial_match(p_sql, g_sql)
            exact_score = self.eval_exact_match(p_sql, g_sql, partial_scores)
            self.scores[hardness]['exact'] += exact_score
            self.scores['all']['exact'] += exact_score
            for type_ in PARTIAL_TYPES:
                if partial_scores[type_]['pred_total'] > 0:
                    self.scores[hardness]['partial'][type_]['acc'] += partial_scores[type_]['acc']
                    self.scores[hardness]['partial'][type_]['acc_count'] += 1
                if partial_scores[type_]['label_total'] > 0:
                    self.scores[hardness]['partial'][type_]['rec'] += partial_scores[type_]['rec']
                    self.scores[hardness]['partial'][type_]['rec_count'] += 1
                self.scores[hardness]['partial'][type_]['f1'] += partial_scores[type_]['f1']
                if partial_scores[type_]['pred_total'] > 0:
                    self.scores['all']['partial'][type_]['acc'] += partial_scores[type_]['acc']
                    self.scores['all']['partial'][type_]['acc_count'] += 1
                if partial_scores[type_]['label_total'] > 0:
                    self.scores['all']['partial'][type_]['rec'] += partial_scores[type_]['rec']
                    self.scores['all']['partial'][type_]['rec_count'] += 1
                self.scores['all']['partial'][type_]['f1'] += partial_scores[type_]['f1']

        return {
            'predicted': predicted,
            'gold': gold,
            'predicted_parse_error': parse_error,
            'hardness': hardness,
            'exact': exact_score,
            'partial': partial_scores,
            'execution':exec_score
        }

    def finalize(self):
        scores = self.scores
        for level in LEVELS:
            if scores[level]['count'] == 0:
                continue
            if self.etype in ["all", "exec"]:
                print(level)
                print(scores)
                print(scores[level])
                scores[level]['exec'] /= scores[level]['count']

            if self.etype in ["all", "match"]:
                scores[level]['exact'] /= scores[level]['count']
                for type_ in PARTIAL_TYPES:
                    if scores[level]['partial'][type_]['acc_count'] == 0:
                        scores[level]['partial'][type_]['acc'] = 0
                    else:
                        scores[level]['partial'][type_]['acc'] = scores[level]['partial'][type_]['acc'] / \
                                                                 scores[level]['partial'][type_]['acc_count'] * 1.0
                    if scores[level]['partial'][type_]['rec_count'] == 0:
                        scores[level]['partial'][type_]['rec'] = 0
                    else:
                        scores[level]['partial'][type_]['rec'] = scores[level]['partial'][type_]['rec'] / \
                                                                 scores[level]['partial'][type_]['rec_count'] * 1.0
                    if scores[level]['partial'][type_]['acc'] == 0 and scores[level]['partial'][type_]['rec'] == 0:
                        scores[level]['partial'][type_]['f1'] = 1
                    else:
                        scores[level]['partial'][type_]['f1'] = \
                            2.0 * scores[level]['partial'][type_]['acc'] * scores[level]['partial'][type_]['rec'] / (
                                    scores[level]['partial'][type_]['rec'] + scores[level]['partial'][type_]['acc'])


def isValidSQL(sql, db):
    conn = sqlite3.connect(db)
    cursor = conn.cursor()
    try:
        cursor.execute(sql)
    except:
        return False
    return True


def print_scores(scores, etype):
    LEVELS = ['easy', 'medium', 'hard', 'extra', 'all']
    PARTIAL_TYPES = ['select', 'select(no AGG)', 'where', 'where(no OP)', 'group(no Having)',
                     'group', 'order', 'and/or', 'IUEN', 'keywords']

    print("{:20} {:20} {:20} {:20} {:20} {:20}".format("", *LEVELS))
    counts = [scores[level]['count'] for level in LEVELS]
    print("{:20} {:<20d} {:<20d} {:<20d} {:<20d} {:<20d}".format("count", *counts))

    if etype in ["all", "exec"]:
        print('=====================   EXECUTION ACCURACY     =====================')
        this_scores = [scores[level]['exec'] for level in LEVELS]
        print(this_scores)
        print("{:20} {:<20.3f} {:<20.3f} {:<20.3f} {:<20.3f} {:<20.3f}".format("execution", *this_scores))

    # if etype in ["all", "match"]:
    #     print('\n====================== EXACT MATCHING ACCURACY =====================')
    #     exact_scores = [scores[level]['exact'] for level in LEVELS]
    #     print("{:20} {:<20.3f} {:<20.3f} {:<20.3f} {:<20.3f} {:<20.3f}".format("exact match", *exact_scores))
    #     print('\n---------------------PARTIAL MATCHING ACCURACY----------------------')
    #     for type_ in PARTIAL_TYPES:
    #         this_scores = [scores[level]['partial'][type_]['acc'] for level in LEVELS]
    #         print("{:20} {:<20.3f} {:<20.3f} {:<20.3f} {:<20.3f} {:<20.3f}".format(type_, *this_scores))

    #     print('---------------------- PARTIAL MATCHING RECALL ----------------------')
    #     for type_ in PARTIAL_TYPES:
    #         this_scores = [scores[level]['partial'][type_]['rec'] for level in LEVELS]
    #         print("{:20} {:<20.3f} {:<20.3f} {:<20.3f} {:<20.3f} {:<20.3f}".format(type_, *this_scores))

    #     print('---------------------- PARTIAL MATCHING F1 --------------------------')
    #     for type_ in PARTIAL_TYPES:
    #         this_scores = [scores[level]['partial'][type_]['f1'] for level in LEVELS]
    #         print("{:20} {:<20.3f} {:<20.3f} {:<20.3f} {:<20.3f} {:<20.3f}".format(type_, *this_scores))


def evaluate(gold, predict, db_dir, etype, kmaps):
    with open(gold) as f:
        glist = [l.strip().split('\t') for l in f.readlines() if len(l.strip()) > 0]
    # glist = [(gold,'concert_singer')]

    # with open(predict) as f:
    plist = [i.strip() for i in predict if len(i.strip()) > 0]
    # plist = [(predict)]
    # plist = [("select max(Share),min(Share) from performance where Type != 'terminal'", "orchestra")]
    # glist = [("SELECT max(SHARE) ,  min(SHARE) FROM performance WHERE TYPE != 'Live final'", "orchestra")]
    evaluator = Evaluator(db_dir, kmaps, etype)
    results = []
    for p, g in zip(plist, glist):
        predicted = p
        gold, db_name = g
        results.append(evaluator.evaluate_one(db_name, gold, predicted))
    evaluator.finalize()

    print_scores(evaluator.scores, etype)
    return {
        'per_item': results,
        'total_scores': evaluator.scores,
    }


def eval_exec_match(db, p_str, g_str, pred, gold):
    """
    return 1 if the values between prediction and gold are matching
    in the corresponding index. Currently not support multiple col_unit(pairs).
    """
    conn = sqlite3.connect(db)

    cursor = conn.cursor()
    try:
        cursor.execute(p_str)
        p_res = cursor.fetchall()
    except:
        return False

    cursor.execute(g_str)
    q_res = cursor.fetchall()

    def res_map(res, val_units):
        rmap = {}
        for idx, val_unit in enumerate(val_units):
            key = tuple(val_unit[1]) if not val_unit[2] else (val_unit[0], tuple(val_unit[1]), tuple(val_unit[2]))
            rmap[key] = [r[idx] for r in res]
        return rmap

    p_val_units = [unit[1] for unit in pred['select'][1]]
    q_val_units = [unit[1] for unit in gold['select'][1]]
    return res_map(p_res, p_val_units) == res_map(q_res, q_val_units)


# Rebuild SQL functions for value evaluation
def rebuild_cond_unit_val(cond_unit):
    if cond_unit is None or not DISABLE_VALUE:
        return cond_unit

    not_op, op_id, val_unit, val1, val2 = cond_unit
    if type(val1) is not dict:
        val1 = None
    else:
        val1 = rebuild_sql_val(val1)
    if type(val2) is not dict:
        val2 = None
    else:
        val2 = rebuild_sql_val(val2)
    return not_op, op_id, val_unit, val1, val2


def rebuild_condition_val(condition):
    if condition is None or not DISABLE_VALUE:
        return condition

    res = []
    for idx, it in enumerate(condition):
        if idx % 2 == 0:
            res.append(rebuild_cond_unit_val(it))
        else:
            res.append(it)
    return res


def rebuild_sql_val(sql):
    if sql is None or not DISABLE_VALUE:
        return sql

    sql['from']['conds'] = rebuild_condition_val(sql['from']['conds'])
    sql['having'] = rebuild_condition_val(sql['having'])
    sql['where'] = rebuild_condition_val(sql['where'])
    sql['intersect'] = rebuild_sql_val(sql['intersect'])
    sql['except'] = rebuild_sql_val(sql['except'])
    sql['union'] = rebuild_sql_val(sql['union'])

    return sql


# Rebuild SQL functions for foreign key evaluation
def build_valid_col_units(table_units, schema):
    col_ids = [table_unit[1] for table_unit in table_units if table_unit[0] == TABLE_TYPE['table_unit']]
    prefixs = [col_id[:-2] for col_id in col_ids]
    valid_col_units = []
    for value in list(schema.idMap.values()):
        if '.' in value and value[:value.index('.')] in prefixs:
            valid_col_units.append(value)
    return valid_col_units


def rebuild_col_unit_col(valid_col_units, col_unit, kmap):
    if col_unit is None:
        return col_unit

    agg_id, col_id, distinct = col_unit
    if col_id in kmap and col_id in valid_col_units:
        col_id = kmap[col_id]
    if DISABLE_DISTINCT:
        distinct = None
    return agg_id, col_id, distinct


def rebuild_val_unit_col(valid_col_units, val_unit, kmap):
    if val_unit is None:
        return val_unit

    unit_op, col_unit1, col_unit2 = val_unit
    col_unit1 = rebuild_col_unit_col(valid_col_units, col_unit1, kmap)
    col_unit2 = rebuild_col_unit_col(valid_col_units, col_unit2, kmap)
    return unit_op, col_unit1, col_unit2


def rebuild_table_unit_col(valid_col_units, table_unit, kmap):
    if table_unit is None:
        return table_unit

    table_type, col_unit_or_sql = table_unit
    if isinstance(col_unit_or_sql, tuple):
        col_unit_or_sql = rebuild_col_unit_col(valid_col_units, col_unit_or_sql, kmap)
    return table_type, col_unit_or_sql


def rebuild_cond_unit_col(valid_col_units, cond_unit, kmap):
    if cond_unit is None:
        return cond_unit

    not_op, op_id, val_unit, val1, val2 = cond_unit
    val_unit = rebuild_val_unit_col(valid_col_units, val_unit, kmap)
    return not_op, op_id, val_unit, val1, val2


def rebuild_condition_col(valid_col_units, condition, kmap):
    for idx in range(len(condition)):
        if idx % 2 == 0:
            condition[idx] = rebuild_cond_unit_col(valid_col_units, condition[idx], kmap)
    return condition


def rebuild_select_col(valid_col_units, sel, kmap):
    if sel is None:
        return sel
    distinct, _list = sel
    new_list = []
    for it in _list:
        agg_id, val_unit = it
        new_list.append((agg_id, rebuild_val_unit_col(valid_col_units, val_unit, kmap)))
    if DISABLE_DISTINCT:
        distinct = None
    return distinct, new_list


def rebuild_from_col(valid_col_units, from_, kmap):
    if from_ is None:
        return from_

    from_['table_units'] = [rebuild_table_unit_col(valid_col_units, table_unit, kmap) for table_unit in
                            from_['table_units']]
    from_['conds'] = rebuild_condition_col(valid_col_units, from_['conds'], kmap)
    return from_


def rebuild_group_by_col(valid_col_units, group_by, kmap):
    if group_by is None:
        return group_by

    return [rebuild_col_unit_col(valid_col_units, col_unit, kmap) for col_unit in group_by]


def rebuild_order_by_col(valid_col_units, order_by, kmap):
    if order_by is None or len(order_by) == 0:
        return order_by

    direction, val_units = order_by
    new_val_units = [rebuild_val_unit_col(valid_col_units, val_unit, kmap) for val_unit in val_units]
    return direction, new_val_units


def rebuild_sql_col(valid_col_units, sql, kmap):
    if sql is None:
        return sql

    sql['select'] = rebuild_select_col(valid_col_units, sql['select'], kmap)
    sql['from'] = rebuild_from_col(valid_col_units, sql['from'], kmap)
    sql['where'] = rebuild_condition_col(valid_col_units, sql['where'], kmap)
    sql['groupBy'] = rebuild_group_by_col(valid_col_units, sql['groupBy'], kmap)
    sql['orderBy'] = rebuild_order_by_col(valid_col_units, sql['orderBy'], kmap)
    sql['having'] = rebuild_condition_col(valid_col_units, sql['having'], kmap)
    sql['intersect'] = rebuild_sql_col(valid_col_units, sql['intersect'], kmap)
    sql['except'] = rebuild_sql_col(valid_col_units, sql['except'], kmap)
    sql['union'] = rebuild_sql_col(valid_col_units, sql['union'], kmap)

    return sql


def build_foreign_key_map(entry):
    cols_orig = entry["column_names_original"]
    tables_orig = entry["table_names_original"]

    # rebuild cols corresponding to idmap in Schema
    cols = []
    for col_orig in cols_orig:
        if col_orig[0] >= 0:
            t = tables_orig[col_orig[0]]
            c = col_orig[1]
            cols.append("__" + t.lower() + "." + c.lower() + "__")
        else:
            cols.append("__all__")

    def keyset_in_list(k1, k2, k_list):
        for k_set in k_list:
            if k1 in k_set or k2 in k_set:
                return k_set
        new_k_set = set()
        k_list.append(new_k_set)
        return new_k_set

    foreign_key_list = []
    foreign_keys = entry["foreign_keys"]
    for fkey in foreign_keys:
        key1, key2 = fkey
        key_set = keyset_in_list(key1, key2, foreign_key_list)
        key_set.add(key1)
        key_set.add(key2)

    foreign_key_map = {}
    for key_set in foreign_key_list:
        sorted_list = sorted(list(key_set))
        midx = sorted_list[0]
        for idx in sorted_list:
            foreign_key_map[cols[idx]] = cols[midx]

    return foreign_key_map


def build_foreign_key_map_from_json(table):
    with open(table) as f:
        data = json.load(f)
    tables = {}
    for entry in data:
        tables[entry['db_id']] = build_foreign_key_map(entry)
    return tables


def execution_accuracy_metrics(exp_results,gold_query_sql_path,all_tables_json,all_db_path):
    predict = []
    for k in range(len(exp_results)):
        predict.append('SELECT'+exp_results[k][0]['text'].replace(';','').replace('\n',''))
    etype = "all"
    gold = gold_query_sql_path
    pred = predict
    db_dir = all_db_path
    table = all_tables_json
    assert etype in ["all", "exec", "match"], "Unknown evaluation method"

    kmaps = build_foreign_key_map_from_json(table)

    results = evaluate(gold, pred, db_dir, etype, kmaps)
    print(results)
    return results

In [15]:
results_few = execution_accuracy_metrics(response_val_few_shot_1,'dev_gold.sql',
                           'tables.json',
                           "C:/Users/../Desktop/nlp/spider/database/")
with open('updated_results_exec_few_shot_v1_nkey.json','w') as k:
    k.write(json.dumps(results_few))

easy
{'easy': {'count': 248, 'partial': {'select': {'acc': 227.0, 'rec': 227.0, 'f1': 227.0, 'acc_count': 245, 'rec_count': 248}, 'select(no AGG)': {'acc': 229.0, 'rec': 229.0, 'f1': 229.0, 'acc_count': 245, 'rec_count': 248}, 'where': {'acc': 102.0, 'rec': 102.0, 'f1': 237.0, 'acc_count': 113, 'rec_count': 108}, 'where(no OP)': {'acc': 105.0, 'rec': 105.0, 'f1': 240.0, 'acc_count': 113, 'rec_count': 108}, 'group(no Having)': {'acc': 15.0, 'rec': 15.0, 'f1': 243.0, 'acc_count': 16, 'rec_count': 20}, 'group': {'acc': 10.0, 'rec': 10.0, 'f1': 238.0, 'acc_count': 16, 'rec_count': 20}, 'order': {'acc': 20.0, 'rec': 20.0, 'f1': 246.0, 'acc_count': 22, 'rec_count': 22}, 'and/or': {'acc': 247.0, 'rec': 247.0, 'f1': 247.0, 'acc_count': 247, 'rec_count': 248}, 'IUEN': {'acc': 0.0, 'rec': 0.0, 'f1': 248.0, 'acc_count': 0, 'rec_count': 0}, 'keywords': {'acc': 141.0, 'rec': 141.0, 'f1': 238.0, 'acc_count': 151, 'rec_count': 150}}, 'exact': 206.0, 'exec': 209}, 'medium': {'count': 446, 'partial': {'select': {'acc': 332.0, 'rec': 332.0, 'f1': 332.0, 'acc_count': 376, 'rec_count': 446}, 'select(no AGG)': {'acc': 336.0, 'rec': 336.0, 'f1': 336.0, 'acc_count': 376, 'rec_count': 446}, 'where': {'acc': 95.0, 'rec': 95.0, 'f1': 322.0, 'acc_count': 189, 'rec_count': 182}, 'where(no OP)': {'acc': 97.0, 'rec': 97.0, 'f1': 324.0, 'acc_count': 189, 'rec_count': 182}, 'group(no Having)': {'acc': 81.0, 'rec': 81.0, 'f1': 394.0, 'acc_count': 88, 'rec_count': 133}, 'group': {'acc': 72.0, 'rec': 72.0, 'f1': 385.0, 'acc_count': 88, 'rec_count': 133}, 'order': {'acc': 56.0, 'rec': 56.0, 'f1': 424.0, 'acc_count': 60, 'rec_count': 75}, 'and/or': {'acc': 420.0, 'rec': 420.0, 'f1': 420.0, 'acc_count': 442, 'rec_count': 424}, 'IUEN': {'acc': 0.0, 'rec': 0.0, 'f1': 446.0, 'acc_count': 0, 'rec_count': 0}, 'keywords': {'acc': 263.0, 'rec': 263.0, 'f1': 331.0, 'acc_count': 319, 'rec_count': 378}}, 'exact': 232.0, 'exec': 280}, 'hard': {'count': 174, 'partial': {'select': {'acc': 131.0, 'rec': 131.0, 'f1': 131.0, 'acc_count': 140, 'rec_count': 174}, 'select(no AGG)': {'acc': 131.0, 'rec': 131.0, 'f1': 131.0, 'acc_count': 140, 'rec_count': 174}, 'where': {'acc': 55.0, 'rec': 55.0, 'f1': 114.0, 'acc_count': 99, 'rec_count': 94}, 'where(no OP)': {'acc': 59.0, 'rec': 59.0, 'f1': 118.0, 'acc_count': 99, 'rec_count': 94}, 'group(no Having)': {'acc': 22.0, 'rec': 22.0, 'f1': 156.0, 'acc_count': 23, 'rec_count': 39}, 'group': {'acc': 21.0, 'rec': 21.0, 'f1': 155.0, 'acc_count': 23, 'rec_count': 39}, 'order': {'acc': 33.0, 'rec': 33.0, 'f1': 152.0, 'acc_count': 37, 'rec_count': 55}, 'and/or': {'acc': 162.0, 'rec': 162.0, 'f1': 162.0, 'acc_count': 166, 'rec_count': 170}, 'IUEN': {'acc': 8.0, 'rec': 8.0, 'f1': 140.0, 'acc_count': 9, 'rec_count': 42}, 'keywords': {'acc': 101.0, 'rec': 101.0, 'f1': 101.0, 'acc_count': 132, 'rec_count': 174}}, 'exact': 68.0, 'exec': 85}, 'extra': {'count': 166, 'partial': {'select': {'acc': 101.0, 'rec': 101.0, 'f1': 101.0, 'acc_count': 115, 'rec_count': 166}, 'select(no AGG)': {'acc': 102.0, 'rec': 102.0, 'f1': 102.0, 'acc_count': 115, 'rec_count': 166}, 'where': {'acc': 30.0, 'rec': 30.0, 'f1': 81.0, 'acc_count': 77, 'rec_count': 94}, 'where(no OP)': {'acc': 38.0, 'rec': 38.0, 'f1': 89.0, 'acc_count': 77, 'rec_count': 94}, 'group(no Having)': {'acc': 34.0, 'rec': 34.0, 'f1': 120.0, 'acc_count': 37, 'rec_count': 79}, 'group': {'acc': 34.0, 'rec': 34.0, 'f1': 120.0, 'acc_count': 37, 'rec_count': 79}, 'order': {'acc': 34.0, 'rec': 34.0, 'f1': 118.0, 'acc_count': 46, 'rec_count': 79}, 'and/or': {'acc': 148.0, 'rec': 148.0, 'f1': 148.0, 'acc_count': 158, 'rec_count': 156}, 'IUEN': {'acc': 4.0, 'rec': 4.0, 'f1': 136.0, 'acc_count': 4, 'rec_count': 34}, 'keywords': {'acc': 73.0, 'rec': 73.0, 'f1': 73.0, 'acc_count': 115, 'rec_count': 166}}, 'exact': 43.0, 'exec': 64}, 'all': {'count': 1034, 'partial': {'select': {'acc': 791.0, 'rec': 791.0, 'f1': 791.0, 'acc_count': 876, 'rec_count': 1034}, 'select(no AGG)': {'acc': 798.0, 'rec': 798.0, 'f1': 798.0, 'acc_count': 876, 'rec_count': 1034}, 'where': {'acc': 282.0, 'rec': 282.0, 'f1': 754.0, 'acc_count': 478, 'rec_count': 478}, 'where(no OP)': {'acc': 299.0, 'rec': 299.0, 'f1': 771.0, 'acc_count': 478, 'rec_count': 478}, 'group(no Having)': {'acc': 152.0, 'rec': 152.0, 'f1': 913.0, 'acc_count': 164, 'rec_count': 271}, 'group': {'acc': 137.0, 'rec': 137.0, 'f1': 898.0, 'acc_count': 164, 'rec_count': 271}, 'order': {'acc': 143.0, 'rec': 143.0, 'f1': 940.0, 'acc_count': 165, 'rec_count': 231}, 'and/or': {'acc': 977.0, 'rec': 977.0, 'f1': 977.0, 'acc_count': 1013, 'rec_count': 998}, 'IUEN': {'acc': 12.0, 'rec': 12.0, 'f1': 970.0, 'acc_count': 13, 'rec_count': 76}, 'keywords': {'acc': 578.0, 'rec': 578.0, 'f1': 743.0, 'acc_count': 717, 'rec_count': 868}}, 'exact': 549.0, 'exec': 638}}
{'count': 248, 'partial': {'select': {'acc': 227.0, 'rec': 227.0, 'f1': 227.0, 'acc_count': 245, 'rec_count': 248}, 'select(no AGG)': {'acc': 229.0, 'rec': 229.0, 'f1': 229.0, 'acc_count': 245, 'rec_count': 248}, 'where': {'acc': 102.0, 'rec': 102.0, 'f1': 237.0, 'acc_count': 113, 'rec_count': 108}, 'where(no OP)': {'acc': 105.0, 'rec': 105.0, 'f1': 240.0, 'acc_count': 113, 'rec_count': 108}, 'group(no Having)': {'acc': 15.0, 'rec': 15.0, 'f1': 243.0, 'acc_count': 16, 'rec_count': 20}, 'group': {'acc': 10.0, 'rec': 10.0, 'f1': 238.0, 'acc_count': 16, 'rec_count': 20}, 'order': {'acc': 20.0, 'rec': 20.0, 'f1': 246.0, 'acc_count': 22, 'rec_count': 22}, 'and/or': {'acc': 247.0, 'rec': 247.0, 'f1': 247.0, 'acc_count': 247, 'rec_count': 248}, 'IUEN': {'acc': 0.0, 'rec': 0.0, 'f1': 248.0, 'acc_count': 0, 'rec_count': 0}, 'keywords': {'acc': 141.0, 'rec': 141.0, 'f1': 238.0, 'acc_count': 151, 'rec_count': 150}}, 'exact': 206.0, 'exec': 209}
medium
{'easy': {'count': 248, 'partial': {'select': {'acc': 0.926530612244898, 'rec': 0.9153225806451613, 'f1': 0.920892494929006, 'acc_count': 245, 'rec_count': 248}, 'select(no AGG)': {'acc': 0.9346938775510204, 'rec': 0.9233870967741935, 'f1': 0.9290060851926977, 'acc_count': 245, 'rec_count': 248}, 'where': {'acc': 0.9026548672566371, 'rec': 0.9444444444444444, 'f1': 0.9230769230769231, 'acc_count': 113, 'rec_count': 108}, 'where(no OP)': {'acc': 0.9292035398230089, 'rec': 0.9722222222222222, 'f1': 0.9502262443438914, 'acc_count': 113, 'rec_count': 108}, 'group(no Having)': {'acc': 0.9375, 'rec': 0.75, 'f1': 0.8333333333333334, 'acc_count': 16, 'rec_count': 20}, 'group': {'acc': 0.625, 'rec': 0.5, 'f1': 0.5555555555555556, 'acc_count': 16, 'rec_count': 20}, 'order': {'acc': 0.9090909090909091, 'rec': 0.9090909090909091, 'f1': 0.9090909090909091, 'acc_count': 22, 'rec_count': 22}, 'and/or': {'acc': 1.0, 'rec': 0.9959677419354839, 'f1': 0.997979797979798, 'acc_count': 247, 'rec_count': 248}, 'IUEN': {'acc': 0, 'rec': 0, 'f1': 1, 'acc_count': 0, 'rec_count': 0}, 'keywords': {'acc': 0.9337748344370861, 'rec': 0.94, 'f1': 0.93687707641196, 'acc_count': 151, 'rec_count': 150}}, 'exact': 0.8306451612903226, 'exec': 0.842741935483871}, 'medium': {'count': 446, 'partial': {'select': {'acc': 332.0, 'rec': 332.0, 'f1': 332.0, 'acc_count': 376, 'rec_count': 446}, 'select(no AGG)': {'acc': 336.0, 'rec': 336.0, 'f1': 336.0, 'acc_count': 376, 'rec_count': 446}, 'where': {'acc': 95.0, 'rec': 95.0, 'f1': 322.0, 'acc_count': 189, 'rec_count': 182}, 'where(no OP)': {'acc': 97.0, 'rec': 97.0, 'f1': 324.0, 'acc_count': 189, 'rec_count': 182}, 'group(no Having)': {'acc': 81.0, 'rec': 81.0, 'f1': 394.0, 'acc_count': 88, 'rec_count': 133}, 'group': {'acc': 72.0, 'rec': 72.0, 'f1': 385.0, 'acc_count': 88, 'rec_count': 133}, 'order': {'acc': 56.0, 'rec': 56.0, 'f1': 424.0, 'acc_count': 60, 'rec_count': 75}, 'and/or': {'acc': 420.0, 'rec': 420.0, 'f1': 420.0, 'acc_count': 442, 'rec_count': 424}, 'IUEN': {'acc': 0.0, 'rec': 0.0, 'f1': 446.0, 'acc_count': 0, 'rec_count': 0}, 'keywords': {'acc': 263.0, 'rec': 263.0, 'f1': 331.0, 'acc_count': 319, 'rec_count': 378}}, 'exact': 232.0, 'exec': 280}, 'hard': {'count': 174, 'partial': {'select': {'acc': 131.0, 'rec': 131.0, 'f1': 131.0, 'acc_count': 140, 'rec_count': 174}, 'select(no AGG)': {'acc': 131.0, 'rec': 131.0, 'f1': 131.0, 'acc_count': 140, 'rec_count': 174}, 'where': {'acc': 55.0, 'rec': 55.0, 'f1': 114.0, 'acc_count': 99, 'rec_count': 94}, 'where(no OP)': {'acc': 59.0, 'rec': 59.0, 'f1': 118.0, 'acc_count': 99, 'rec_count': 94}, 'group(no Having)': {'acc': 22.0, 'rec': 22.0, 'f1': 156.0, 'acc_count': 23, 'rec_count': 39}, 'group': {'acc': 21.0, 'rec': 21.0, 'f1': 155.0, 'acc_count': 23, 'rec_count': 39}, 'order': {'acc': 33.0, 'rec': 33.0, 'f1': 152.0, 'acc_count': 37, 'rec_count': 55}, 'and/or': {'acc': 162.0, 'rec': 162.0, 'f1': 162.0, 'acc_count': 166, 'rec_count': 170}, 'IUEN': {'acc': 8.0, 'rec': 8.0, 'f1': 140.0, 'acc_count': 9, 'rec_count': 42}, 'keywords': {'acc': 101.0, 'rec': 101.0, 'f1': 101.0, 'acc_count': 132, 'rec_count': 174}}, 'exact': 68.0, 'exec': 85}, 'extra': {'count': 166, 'partial': {'select': {'acc': 101.0, 'rec': 101.0, 'f1': 101.0, 'acc_count': 115, 'rec_count': 166}, 'select(no AGG)': {'acc': 102.0, 'rec': 102.0, 'f1': 102.0, 'acc_count': 115, 'rec_count': 166}, 'where': {'acc': 30.0, 'rec': 30.0, 'f1': 81.0, 'acc_count': 77, 'rec_count': 94}, 'where(no OP)': {'acc': 38.0, 'rec': 38.0, 'f1': 89.0, 'acc_count': 77, 'rec_count': 94}, 'group(no Having)': {'acc': 34.0, 'rec': 34.0, 'f1': 120.0, 'acc_count': 37, 'rec_count': 79}, 'group': {'acc': 34.0, 'rec': 34.0, 'f1': 120.0, 'acc_count': 37, 'rec_count': 79}, 'order': {'acc': 34.0, 'rec': 34.0, 'f1': 118.0, 'acc_count': 46, 'rec_count': 79}, 'and/or': {'acc': 148.0, 'rec': 148.0, 'f1': 148.0, 'acc_count': 158, 'rec_count': 156}, 'IUEN': {'acc': 4.0, 'rec': 4.0, 'f1': 136.0, 'acc_count': 4, 'rec_count': 34}, 'keywords': {'acc': 73.0, 'rec': 73.0, 'f1': 73.0, 'acc_count': 115, 'rec_count': 166}}, 'exact': 43.0, 'exec': 64}, 'all': {'count': 1034, 'partial': {'select': {'acc': 791.0, 'rec': 791.0, 'f1': 791.0, 'acc_count': 876, 'rec_count': 1034}, 'select(no AGG)': {'acc': 798.0, 'rec': 798.0, 'f1': 798.0, 'acc_count': 876, 'rec_count': 1034}, 'where': {'acc': 282.0, 'rec': 282.0, 'f1': 754.0, 'acc_count': 478, 'rec_count': 478}, 'where(no OP)': {'acc': 299.0, 'rec': 299.0, 'f1': 771.0, 'acc_count': 478, 'rec_count': 478}, 'group(no Having)': {'acc': 152.0, 'rec': 152.0, 'f1': 913.0, 'acc_count': 164, 'rec_count': 271}, 'group': {'acc': 137.0, 'rec': 137.0, 'f1': 898.0, 'acc_count': 164, 'rec_count': 271}, 'order': {'acc': 143.0, 'rec': 143.0, 'f1': 940.0, 'acc_count': 165, 'rec_count': 231}, 'and/or': {'acc': 977.0, 'rec': 977.0, 'f1': 977.0, 'acc_count': 1013, 'rec_count': 998}, 'IUEN': {'acc': 12.0, 'rec': 12.0, 'f1': 970.0, 'acc_count': 13, 'rec_count': 76}, 'keywords': {'acc': 578.0, 'rec': 578.0, 'f1': 743.0, 'acc_count': 717, 'rec_count': 868}}, 'exact': 549.0, 'exec': 638}}
{'count': 446, 'partial': {'select': {'acc': 332.0, 'rec': 332.0, 'f1': 332.0, 'acc_count': 376, 'rec_count': 446}, 'select(no AGG)': {'acc': 336.0, 'rec': 336.0, 'f1': 336.0, 'acc_count': 376, 'rec_count': 446}, 'where': {'acc': 95.0, 'rec': 95.0, 'f1': 322.0, 'acc_count': 189, 'rec_count': 182}, 'where(no OP)': {'acc': 97.0, 'rec': 97.0, 'f1': 324.0, 'acc_count': 189, 'rec_count': 182}, 'group(no Having)': {'acc': 81.0, 'rec': 81.0, 'f1': 394.0, 'acc_count': 88, 'rec_count': 133}, 'group': {'acc': 72.0, 'rec': 72.0, 'f1': 385.0, 'acc_count': 88, 'rec_count': 133}, 'order': {'acc': 56.0, 'rec': 56.0, 'f1': 424.0, 'acc_count': 60, 'rec_count': 75}, 'and/or': {'acc': 420.0, 'rec': 420.0, 'f1': 420.0, 'acc_count': 442, 'rec_count': 424}, 'IUEN': {'acc': 0.0, 'rec': 0.0, 'f1': 446.0, 'acc_count': 0, 'rec_count': 0}, 'keywords': {'acc': 263.0, 'rec': 263.0, 'f1': 331.0, 'acc_count': 319, 'rec_count': 378}}, 'exact': 232.0, 'exec': 280}
hard
{'easy': {'count': 248, 'partial': {'select': {'acc': 0.926530612244898, 'rec': 0.9153225806451613, 'f1': 0.920892494929006, 'acc_count': 245, 'rec_count': 248}, 'select(no AGG)': {'acc': 0.9346938775510204, 'rec': 0.9233870967741935, 'f1': 0.9290060851926977, 'acc_count': 245, 'rec_count': 248}, 'where': {'acc': 0.9026548672566371, 'rec': 0.9444444444444444, 'f1': 0.9230769230769231, 'acc_count': 113, 'rec_count': 108}, 'where(no OP)': {'acc': 0.9292035398230089, 'rec': 0.9722222222222222, 'f1': 0.9502262443438914, 'acc_count': 113, 'rec_count': 108}, 'group(no Having)': {'acc': 0.9375, 'rec': 0.75, 'f1': 0.8333333333333334, 'acc_count': 16, 'rec_count': 20}, 'group': {'acc': 0.625, 'rec': 0.5, 'f1': 0.5555555555555556, 'acc_count': 16, 'rec_count': 20}, 'order': {'acc': 0.9090909090909091, 'rec': 0.9090909090909091, 'f1': 0.9090909090909091, 'acc_count': 22, 'rec_count': 22}, 'and/or': {'acc': 1.0, 'rec': 0.9959677419354839, 'f1': 0.997979797979798, 'acc_count': 247, 'rec_count': 248}, 'IUEN': {'acc': 0, 'rec': 0, 'f1': 1, 'acc_count': 0, 'rec_count': 0}, 'keywords': {'acc': 0.9337748344370861, 'rec': 0.94, 'f1': 0.93687707641196, 'acc_count': 151, 'rec_count': 150}}, 'exact': 0.8306451612903226, 'exec': 0.842741935483871}, 'medium': {'count': 446, 'partial': {'select': {'acc': 0.8829787234042553, 'rec': 0.7443946188340808, 'f1': 0.8077858880778589, 'acc_count': 376, 'rec_count': 446}, 'select(no AGG)': {'acc': 0.8936170212765957, 'rec': 0.7533632286995515, 'f1': 0.8175182481751824, 'acc_count': 376, 'rec_count': 446}, 'where': {'acc': 0.5026455026455027, 'rec': 0.521978021978022, 'f1': 0.5121293800539084, 'acc_count': 189, 'rec_count': 182}, 'where(no OP)': {'acc': 0.5132275132275133, 'rec': 0.532967032967033, 'f1': 0.5229110512129379, 'acc_count': 189, 'rec_count': 182}, 'group(no Having)': {'acc': 0.9204545454545454, 'rec': 0.6090225563909775, 'f1': 0.7330316742081447, 'acc_count': 88, 'rec_count': 133}, 'group': {'acc': 0.8181818181818182, 'rec': 0.5413533834586466, 'f1': 0.6515837104072397, 'acc_count': 88, 'rec_count': 133}, 'order': {'acc': 0.9333333333333333, 'rec': 0.7466666666666667, 'f1': 0.8296296296296296, 'acc_count': 60, 'rec_count': 75}, 'and/or': {'acc': 0.9502262443438914, 'rec': 0.9905660377358491, 'f1': 0.9699769053117782, 'acc_count': 442, 'rec_count': 424}, 'IUEN': {'acc': 0, 'rec': 0, 'f1': 1, 'acc_count': 0, 'rec_count': 0}, 'keywords': {'acc': 0.8244514106583072, 'rec': 0.6957671957671958, 'f1': 0.7546628407460546, 'acc_count': 319, 'rec_count': 378}}, 'exact': 0.5201793721973094, 'exec': 0.6278026905829597}, 'hard': {'count': 174, 'partial': {'select': {'acc': 131.0, 'rec': 131.0, 'f1': 131.0, 'acc_count': 140, 'rec_count': 174}, 'select(no AGG)': {'acc': 131.0, 'rec': 131.0, 'f1': 131.0, 'acc_count': 140, 'rec_count': 174}, 'where': {'acc': 55.0, 'rec': 55.0, 'f1': 114.0, 'acc_count': 99, 'rec_count': 94}, 'where(no OP)': {'acc': 59.0, 'rec': 59.0, 'f1': 118.0, 'acc_count': 99, 'rec_count': 94}, 'group(no Having)': {'acc': 22.0, 'rec': 22.0, 'f1': 156.0, 'acc_count': 23, 'rec_count': 39}, 'group': {'acc': 21.0, 'rec': 21.0, 'f1': 155.0, 'acc_count': 23, 'rec_count': 39}, 'order': {'acc': 33.0, 'rec': 33.0, 'f1': 152.0, 'acc_count': 37, 'rec_count': 55}, 'and/or': {'acc': 162.0, 'rec': 162.0, 'f1': 162.0, 'acc_count': 166, 'rec_count': 170}, 'IUEN': {'acc': 8.0, 'rec': 8.0, 'f1': 140.0, 'acc_count': 9, 'rec_count': 42}, 'keywords': {'acc': 101.0, 'rec': 101.0, 'f1': 101.0, 'acc_count': 132, 'rec_count': 174}}, 'exact': 68.0, 'exec': 85}, 'extra': {'count': 166, 'partial': {'select': {'acc': 101.0, 'rec': 101.0, 'f1': 101.0, 'acc_count': 115, 'rec_count': 166}, 'select(no AGG)': {'acc': 102.0, 'rec': 102.0, 'f1': 102.0, 'acc_count': 115, 'rec_count': 166}, 'where': {'acc': 30.0, 'rec': 30.0, 'f1': 81.0, 'acc_count': 77, 'rec_count': 94}, 'where(no OP)': {'acc': 38.0, 'rec': 38.0, 'f1': 89.0, 'acc_count': 77, 'rec_count': 94}, 'group(no Having)': {'acc': 34.0, 'rec': 34.0, 'f1': 120.0, 'acc_count': 37, 'rec_count': 79}, 'group': {'acc': 34.0, 'rec': 34.0, 'f1': 120.0, 'acc_count': 37, 'rec_count': 79}, 'order': {'acc': 34.0, 'rec': 34.0, 'f1': 118.0, 'acc_count': 46, 'rec_count': 79}, 'and/or': {'acc': 148.0, 'rec': 148.0, 'f1': 148.0, 'acc_count': 158, 'rec_count': 156}, 'IUEN': {'acc': 4.0, 'rec': 4.0, 'f1': 136.0, 'acc_count': 4, 'rec_count': 34}, 'keywords': {'acc': 73.0, 'rec': 73.0, 'f1': 73.0, 'acc_count': 115, 'rec_count': 166}}, 'exact': 43.0, 'exec': 64}, 'all': {'count': 1034, 'partial': {'select': {'acc': 791.0, 'rec': 791.0, 'f1': 791.0, 'acc_count': 876, 'rec_count': 1034}, 'select(no AGG)': {'acc': 798.0, 'rec': 798.0, 'f1': 798.0, 'acc_count': 876, 'rec_count': 1034}, 'where': {'acc': 282.0, 'rec': 282.0, 'f1': 754.0, 'acc_count': 478, 'rec_count': 478}, 'where(no OP)': {'acc': 299.0, 'rec': 299.0, 'f1': 771.0, 'acc_count': 478, 'rec_count': 478}, 'group(no Having)': {'acc': 152.0, 'rec': 152.0, 'f1': 913.0, 'acc_count': 164, 'rec_count': 271}, 'group': {'acc': 137.0, 'rec': 137.0, 'f1': 898.0, 'acc_count': 164, 'rec_count': 271}, 'order': {'acc': 143.0, 'rec': 143.0, 'f1': 940.0, 'acc_count': 165, 'rec_count': 231}, 'and/or': {'acc': 977.0, 'rec': 977.0, 'f1': 977.0, 'acc_count': 1013, 'rec_count': 998}, 'IUEN': {'acc': 12.0, 'rec': 12.0, 'f1': 970.0, 'acc_count': 13, 'rec_count': 76}, 'keywords': {'acc': 578.0, 'rec': 578.0, 'f1': 743.0, 'acc_count': 717, 'rec_count': 868}}, 'exact': 549.0, 'exec': 638}}
{'count': 174, 'partial': {'select': {'acc': 131.0, 'rec': 131.0, 'f1': 131.0, 'acc_count': 140, 'rec_count': 174}, 'select(no AGG)': {'acc': 131.0, 'rec': 131.0, 'f1': 131.0, 'acc_count': 140, 'rec_count': 174}, 'where': {'acc': 55.0, 'rec': 55.0, 'f1': 114.0, 'acc_count': 99, 'rec_count': 94}, 'where(no OP)': {'acc': 59.0, 'rec': 59.0, 'f1': 118.0, 'acc_count': 99, 'rec_count': 94}, 'group(no Having)': {'acc': 22.0, 'rec': 22.0, 'f1': 156.0, 'acc_count': 23, 'rec_count': 39}, 'group': {'acc': 21.0, 'rec': 21.0, 'f1': 155.0, 'acc_count': 23, 'rec_count': 39}, 'order': {'acc': 33.0, 'rec': 33.0, 'f1': 152.0, 'acc_count': 37, 'rec_count': 55}, 'and/or': {'acc': 162.0, 'rec': 162.0, 'f1': 162.0, 'acc_count': 166, 'rec_count': 170}, 'IUEN': {'acc': 8.0, 'rec': 8.0, 'f1': 140.0, 'acc_count': 9, 'rec_count': 42}, 'keywords': {'acc': 101.0, 'rec': 101.0, 'f1': 101.0, 'acc_count': 132, 'rec_count': 174}}, 'exact': 68.0, 'exec': 85}
extra

In [7]:
import json
exec_res = json.load(open('updated_results_exec_few_shot_v1_nkey.json'))

In [62]:
res = []
for i in range(len(exec_res['per_item'])):
    if exec_res['per_item'][i]['execution'] == False:
        res.append(exec_res['per_item'][i])
# exec_res['per_item']

In [60]:
(1034-396)/1034

0.6170212765957447

In [63]:
res[125]['predicted']

'SELECT shop.Name, COUNT(hiring.Employee_ID)  FROM shop  JOIN hiring  ON shop.Shop_ID = hiring.Shop_ID  GROUP BY shop.Shop_ID'

In [64]:
res[125]['gold']

'SELECT count(*) ,  t2.name FROM hiring AS t1 JOIN shop AS t2 ON t1.shop_id  =  t2.shop_id GROUP BY t2.name'

In [58]:
res[34]['gold']

'SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id ORDER BY T2.horsepower ASC LIMIT 1;'